<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.bonc.sce.mapper.AgencyMapper">

    <update id="editActivity">
        UPDATE STARCLOUDPORTAL.SCE_ENTITY_AGENT
        SET IS_ACTIVATE=#{isActivate}
        WHERE ID=#{id}
    </update>

    <update id="editInfo">
        UPDATE STARCLOUDPORTAL.SCE_ENTITY_AGENT
        SET AGENT_NAME=#{agentName},PROVINCE=#{province},CITY=#{city},AREA=#{area}
        WHERE ID=#{id}
    </update>

    <select id="getSchools" resultType="Map">
        SELECT *
        FROM STARCLOUDPORTAL.SCE_ENTITY_SCHOOL
        WHERE ID
        IN (SELECT SCHOOL_ID FROM STARCLOUDPORTAL.SCE_ENTITY_SCHOOL_AGENT_REL WHERE AGENT_ID=#{id})
        AND IS_DELETE=1
    </select>

    <delete id="delSchoolRel">
        DELETE FROM STARCLOUDPORTAL.SCE_ENTITY_SCHOOL_AGENT_REL
        WHERE SCHOOL_ID=#{schoolId} AND AGENT_ID=#{agentId}
    </delete>

    <select id="getAgents" resultType="Map">
        SELECT a.ID,a.AGENT_NAME,a.IS_ACTIVATE,GRADE,u.LOGIN_PERMISSION_STATUS,a.AGENT_AREA
        FROM STARCLOUDPORTAL.SCE_COMMON_USER u,STARCLOUDPORTAL.SCE_ENTITY_AGENT a
        WHERE 1=1
        <if test="agentName != null and agentName!= ''" >
            AND AGENT_NAME LIKE CONCAT(CONCAT('%',#{agentName}),'%')
        </if>
        <if test="grade != null and grade!=''">
            AND GRADE=#{grade}
        </if>
        <if test="agentArea != null and agentArea!=''" >
            AND AGENT_AREA=#{agentArea}
        </if>
        AND u.USER_TYPE=6
        AND a.ID=u.ORGANIZATION_ID
        AND u.IS_DELETE=1
        AND a.IS_DELETE=1
    </select>

    <insert id="saveAgent" parameterType="cn.com.bonc.sce.bean.AgentBean">
        INSERT INTO
            STARCLOUDPORTAL.SCE_ENTITY_AGENT(ID,AGENT_NAME,PROVINCE,CITY,AREA,IS_DELETE)
        VALUES
            (#{id},#{agentName},#{province},#{city},#{area},#{isDelete})
    </insert>

    <update id="delAgentUser">
        UPDATE STARCLOUDPORTAL.SCE_COMMON_USER
        SET IS_DELETE=0
        WHERE ORGANIZATION_ID=#{id}
    </update>
</mapper>