<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.bonc.sce.mapper.AppMarketMapper">

    <select id="selectAppCount" resultType="Map">
 SELECT
	T.APP_TYPE_NAME,
	COUNT( TR.APP_TYPE_ID ) AS NUM
FROM
	STARCLOUDMARKET.SCE_MARKET_APP_TYPE T
	LEFT JOIN STARCLOUDMARKET.SCE_MARKET_APP_APPTYPE_REL TR ON T.APP_TYPE_ID = TR.APP_TYPE_ID
WHERE
	T.IS_DELETE = 1
	AND TR.APP_ID IN (
	SELECT
		AI.APP_ID
	FROM
		STARCLOUDMARKET.SCE_MARKET_APP_INFO AI
		INNER JOIN ( SELECT DISTINCT APP_ID FROM STARCLOUDMARKET.SCE_MARKET_APP_VERSION AV WHERE APP_STATUS = '4' AND IS_DELETE = 1 ) AVB ON AI.APP_ID = AVB.APP_ID WHERE AI.IS_DELETE=1
	)

GROUP BY
	T.APP_TYPE_NAME,
	TR.APP_TYPE_ID

    </select>

    <select id="selectUserToDo" resultType="Map">
        select b.content,
        b.create_user_id,
        b.create_time,
        b.update_time,
        b.status,
        b.remarks,
        p.pending_item_name,
        t.todo_type from sce_pending_items p
        inner join sce_backlog b
        on b.id = p.pending_item_id and  b.is_delete = 1
        inner join sce_todo_type t
        on p.pending_item_type = t.id
        where b.is_delete = 1 and b.operate_user_id = #{userId}
    </select>

    <select id="insertBacklog" resultType="int">
        insert into sce_backlog(id, content, operate_user_id, create_time, status)
        values (#{backlogId}, #{content}, #{userId}, now(), 1)
    </select>

</mapper>