<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.bonc.sce.mapper.CouponMapper">

    <select id="queryCouponType" resultType="map">
        SELECT COUPON_TYPE_CODE,COUPON_TYPE_NAME FROM STARCLOUDPORTAL.SCE_COUPON_TYPE_DIC
        WHERE STATE = 'E' AND IS_DELETE = 1
    </select>

    <select id="queryGoodsType" resultType="map">
        SELECT GOODS_TYPE_CODE,GOODS_TYPE_NAME FROM STARCLOUDPORTAL.SCE_GOODS_TYPE_DIC
        WHERE STATE = 'E' AND IS_DELETE = 1
    </select>

    <insert id="insertCoupon" parameterType="cn.com.bonc.sce.bean.CouponBean">
        insert into STARCLOUDPORTAL.SCE_COUPON(COUPON_CODE,USER_ID,USE_TIMES_FLAG,TOTAL_USE_TIMES,
        VALID_USE_TIMES,VALID_DATE_FALG,START_DATE,END_DATE,OVER_FLAG,IS_DELETE,STATE,SUBMIT_DATE,REVIEW_STATE,
        REVIEW_COMMENT,REVIEW_USER_ID,REVIEW_DATE,COUPON_TYPE_CODE)
        values(#{COUPON_CODE,jdbcType=VARCHAR},
        #{USER_ID,jdbcType=VARCHAR},
        #{USE_TIMES_FLAG,jdbcType=NUMERIC},
        #{TOTAL_USE_TIMES,jdbcType=NUMERIC},
        #{VALID_USE_TIMES,jdbcType=NUMERIC},
        #{VALID_DATE_FALG,jdbcType=NUMERIC},
        #{START_DATE,jdbcType=VARCHAR},
        #{END_DATE,jdbcType=VARCHAR},
        #{OVER_FLAG,jdbcType=NUMERIC},
        #{IS_DELETE,jdbcType=NUMERIC},
        #{STATE,jdbcType=VARCHAR},
        #{SUBMIT_DATE,jdbcType=VARCHAR},
        #{REVIEW_STATE,jdbcType=VARCHAR},
        #{REVIEW_COMMENT,jdbcType=VARCHAR},
        #{REVIEW_USER_ID,jdbcType=NUMERIC},
        #{REVIEW_DATE,jdbcType=VARCHAR},
        #{COUPON_TYPE_CODE,jdbcType=NUMERIC})
    </insert>


    <insert id="insertCouponGoogsTypeRel" parameterType="list">
        INSERT INTO STARCLOUDPORTAL.SCE_COUPON_GOODSTYPE_REL (COUPON_CODE,GOODS_TYPE_CODE)
        VALUES
        <foreach collection="list" index="index" item="item"  separator="," >
            (#{item.COUPON_CODE,jdbcType=VARCHAR},#{item.GOODS_TYPE_CODE,jdbcType=NUMERIC})
        </foreach>
    </insert>

    <insert id="insertCouponRebateDetial">
        insert into STARCLOUDPORTAL.SCE_COUPON_REBATE_DETAIL (COUPON_CODE,COUPON_TYPE_CODE,REBATE_DETAIL,REBATE_CAL)
        values (#{COUPON_CODE,jdbcType=VARCHAR},#{COUPON_TYPE_CODE,jdbcType=NUMERIC},#{REBATE_DETAIL,jdbcType=NUMERIC},#{REBATE_CAL,jdbcType=NUMERIC})
    </insert>

    <update id="deleteCoupon">
        update STARCLOUDPORTAL.SCE_COUPON set IS_DELETE = 0 , STATE = 'D' where COUPON_CODE = #{COUPON_CODE}
    </update>

    <update id="reviewCoupon">
        update STARCLOUDPORTAL.SCE_COUPON set REVIEW_STATE = #{REVIEW_STATE}
        , REVIEW_USER_ID = #{REVIEW_USER_ID} , REVIEW_DATE=#{REVIEW_DATE}
        <if test='REVIEW_COMMENT != null and REVIEW_COMMENT != ""'>
            , REVIEW_COMMENT=#{REVIEW_COMMENT}
        </if>
        where COUPON_CODE = #{COUPON_CODE}
    </update>


    <select id="queryAgentCoupon" resultType="map">
        SELECT A.COUPON_CODE,COUPONTYPEDIC.COUPON_TYPE_CODE,COUPONTYPEDIC.COUPON_TYPE_NAME,
        REBATEDETAIL.REBATE_DETAIL,TEMP.GOODS_TYPE_NAME,A.VALID_DATE_FALG,
        CASE WHEN A.VALID_DATE_FALG = 0 THEN '永久有效' ELSE TO_CHAR(A.START_DATE,'yyyy-MM-dd HH24:mi:ss')||'-'||TO_CHAR(A.END_DATE,'yyyy-MM-dd HH24:mi:ss') END AS VALID_DATE,
        A.USE_TIMES_FLAG,
        CASE WHEN A.USE_TIMES_FLAG= 0 THEN '不限次数' ELSE TO_CHAR(A.TOTAL_USE_TIMES)||'次' END AS USE_TIMES,
        A.USED_TIMES,
        A.OVER_FLAG,
        CASE WHEN A.OVER_FLAG = 1 THEN '可叠加' ELSE '不可叠加' END AS OVER_FLAG_DEF,
        A.REVIEW_STATE,
        CASE WHEN A.REVIEW_STATE = 'T' THEN '待审核'
        WHEN A.REVIEW_STATE = 'F' THEN '被驳回' ELSE '审核通过' END AS REVIEW_STATE_DEF
        FROM STARCLOUDPORTAL.SCE_COUPON A

        LEFT JOIN STARCLOUDPORTAL.SCE_COUPON_REBATE_DETAIL REBATEDETAIL ON A.COUPON_CODE = REBATEDETAIL.COUPON_CODE
        LEFT JOIN STARCLOUDPORTAL.SCE_COUPON_TYPE_DIC COUPONTYPEDIC ON REBATEDETAIL.COUPON_TYPE_CODE = COUPONTYPEDIC.COUPON_TYPE_CODE

        LEFT JOIN (SELECT GOODSTYPEREL.COUPON_CODE AS COUPON_CODE,WMSYS.WM_CONCAT(GOODSTYPE.GOODS_TYPE_NAME) AS GOODS_TYPE_NAME
                   FROM STARCLOUDPORTAL.SCE_COUPON_GOODSTYPE_REL GOODSTYPEREL
                   LEFT JOIN STARCLOUDPORTAL.SCE_GOODS_TYPE_DIC GOODSTYPE ON GOODSTYPE.GOODS_TYPE_CODE = GOODSTYPEREL.GOODS_TYPE_CODE
                   WHERE GOODSTYPE.IS_DELETE=1 AND GOODSTYPE.STATE='E'
                   GROUP BY GOODSTYPEREL.COUPON_CODE ) TEMP ON A.COUPON_CODE = TEMP.COUPON_CODE
        WHERE A.STATE='E' AND A.IS_DELETE=1 and A.USER_ID = #{USER_ID}

    </select>

    <select id="queryAllCouponByCondition" resultType="map">
        SELECT A.COUPON_CODE,A.USER_ID,B.USER_NAME,COUPONTYPEDIC.COUPON_TYPE_CODE,
        COUPONTYPEDIC.COUPON_TYPE_NAME,TEMP.GOODS_TYPE_NAME,A.USE_TIMES_FLAG,
        CASE WHEN A.USE_TIMES_FLAG= 0 THEN '不限' ELSE "TO_CHAR"(A.TOTAL_USE_TIMES)||'次' END AS USE_TIMES,
        A.USED_TIMES,A.OVER_FLAG,
        CASE WHEN A.OVER_FLAG = 1 THEN '是' ELSE '否' END AS OVER_FLAG_DEF,A.REVIEW_STATE,
        CASE WHEN A.REVIEW_STATE = 'T' THEN '待审核'
             WHEN A.REVIEW_STATE = 'F' THEN '被驳回' ELSE '审核通过' END AS REVIEW_STATE_DEF,
        TO_CHAR(A.SUBMIT_DATE,'yyyy-MM-dd HH24:mi:ss') AS SUBMIT_DATE,NVL(A.REVIEW_COMMENT, ' ') AS REVIEW_COMMENT,
        TO_CHAR(A.REVIEW_DATE,'yyyy-MM-dd HH24:mi:ss') AS REVIEW_DATE
        FROM STARCLOUDPORTAL.SCE_COUPON A
        LEFT JOIN STARCLOUDPORTAL.SCE_COMMON_USER B ON A.USER_ID = B.USER_ID

        LEFT JOIN STARCLOUDPORTAL.SCE_COUPON_REBATE_DETAIL REBATEDETAIL ON A.COUPON_CODE = REBATEDETAIL.COUPON_CODE
        LEFT JOIN STARCLOUDPORTAL.SCE_COUPON_TYPE_DIC COUPONTYPEDIC ON REBATEDETAIL.COUPON_TYPE_CODE = COUPONTYPEDIC.COUPON_TYPE_CODE

        LEFT JOIN (SELECT GOODSTYPEREL.COUPON_CODE AS COUPON_CODE,WMSYS.WM_CONCAT(GOODSTYPE.GOODS_TYPE_NAME) AS GOODS_TYPE_NAME
                   FROM STARCLOUDPORTAL.SCE_COUPON_GOODSTYPE_REL GOODSTYPEREL
                   LEFT JOIN STARCLOUDPORTAL.SCE_GOODS_TYPE_DIC GOODSTYPE ON GOODSTYPE.GOODS_TYPE_CODE = GOODSTYPEREL.GOODS_TYPE_CODE
                   WHERE GOODSTYPE.IS_DELETE=1 AND GOODSTYPE.STATE='E'
                   GROUP BY GOODSTYPEREL.COUPON_CODE ) TEMP ON A.COUPON_CODE = TEMP.COUPON_CODE
        WHERE A.STATE='E' AND A.IS_DELETE=1

        <if test='COUPON_CODE != null and COUPON_CODE != ""'>
            and A.COUPON_CODE LIKE CONCAT(CONCAT('%',#{COUPON_CODE}),'%')
        </if>

        <if test='USER_NAME != null and USER_NAME != ""'>
            and B.USER_NAME LIKE CONCAT(CONCAT('%',#{USER_NAME}),'%')
        </if>

        <if test='COUPON_TYPE_CODE != null and COUPON_TYPE_CODE != ""'>
            and COUPONTYPEDIC.COUPON_TYPE_CODE=#{COUPON_TYPE_CODE}
        </if>

        <if test='REVIEW_STATE != null and REVIEW_STATE != ""'>
            and A.REVIEW_STATE=#{REVIEW_STATE}
        </if>

        <if test='OVER_FLAG != null and OVER_FLAG != ""'>
            and A.OVER_FLAG=#{OVER_FLAG}
        </if>
    </select>

    <select id="queryCouponByCode" resultType="map">
        SELECT TEMP.COUPON_CODE,TEMP.USE_TIMES_FLAG,TEMP.TOTAL_USE_TIMES,TEMP.VALID_USE_TIMES,
               TEMP.VALID_DATE_FALG,TEMP.START_DATE,TEMP.END_DATE,TEMP.USED_TIMES,TEMP.OVER_FLAG,
               TEMP.COUPON_TYPE_CODE,C.COUPON_TYPE_NAME,B.REBATE_CAL,D.GOODS_TYPE_CODE,TEMP.IS_DELETE,TEMP.STATE
        FROM STARCLOUDPORTAL.SCE_COUPON TEMP
        LEFT JOIN STARCLOUDPORTAL.SCE_COUPON_REBATE_DETAIL B ON TEMP.COUPON_CODE=B.COUPON_CODE
        LEFT JOIN STARCLOUDPORTAL.SCE_COUPON_TYPE_DIC C ON TEMP.COUPON_TYPE_CODE = C.COUPON_TYPE_CODE

        LEFT JOIN (SELECT GOODSTYPEREL.COUPON_CODE AS COUPON_CODE,','||TO_CHAR(WMSYS.WM_CONCAT(GOODSTYPE.GOODS_TYPE_CODE))||',' AS GOODS_TYPE_CODE
                   FROM STARCLOUDPORTAL.SCE_COUPON_GOODSTYPE_REL GOODSTYPEREL
                   LEFT JOIN STARCLOUDPORTAL.SCE_GOODS_TYPE_DIC GOODSTYPE ON GOODSTYPE.GOODS_TYPE_CODE = GOODSTYPEREL.GOODS_TYPE_CODE
                   WHERE GOODSTYPE.IS_DELETE=1 AND GOODSTYPE.STATE='E'
                   GROUP BY GOODSTYPEREL.COUPON_CODE ) D ON TEMP.COUPON_CODE = D.COUPON_CODE
        WHERE  TEMP.COUPON_CODE=#{COUPON_CODE}
    </select>

    <update id="changeUnLimitedCouponUseTimes">
        update STARCLOUDPORTAL.SCE_COUPON set USED_TIMES = #{USED_TIMES}
        where COUPON_CODE = #{COUPON_CODE}
    </update>


    <update id="changeLimitedCouponUseTimes">
        update STARCLOUDPORTAL.SCE_COUPON set  VALID_USE_TIMES=#{VALID_USE_TIMES},USED_TIMES = #{USED_TIMES}
        where COUPON_CODE = #{COUPON_CODE}
    </update>

</mapper>