<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.bonc.sce.mapper.CouponMapper">

    <insert id="insertCoupon" parameterType="cn.com.bonc.sce.bean.CouponBean">
        insert into STARCLOUDPORTAL.SCE_COUPON(COUPON_CODE,USER_ID,USE_TIMES_FLAG,TOTAL_USE_TIMES,
        VALID_USE_TIMES,VALID_DATE_FALG,START_DATE,END_DATE,OVER_FLAG,IS_DELETE,STATE,SUBMIT_DATE,REVIEW_STATE,
        REVIEW_COMMENT,REVIEW_USER_ID,REVIEW_DATE)
        values(#{COUPON_CODE},#{USER_ID},#{USE_TIMES_FLAG},#{TOTAL_USE_TIMES},#{VALID_USE_TIMES},
        #{VALID_DATE_FALG},#{START_DATE},#{END_DATE},#{OVER_FLAG},#{IS_DELETE},#{STATE},#{SUBMIT_DATE},
        #{REVIEW_STATE},#{REVIEW_COMMENT},#{REVIEW_USER_ID},#{REVIEW_DATE})
    </insert>


    <insert id="insertCouponGoogsTypeRel" parameterType="list">
        INSERT INTO STARCLOUDPORTAL.SCE_COUPON_GOODSTYPE_REL (ID,COUPON_CODE,GOODS_TYPE_CODE)
        VALUES
        <foreach collection="list" index="index" item="item"  separator="," >
            (SCE_COUPON_GOODSTYPE_REL_ID.nextval,#{item.COUPON_CODE},#{item.GOODS_TYPE_CODE})
        </foreach>
    </insert>

    <insert id="insertCouponRebateDetial">
        insert into STARCLOUDPORTAL.SCE_COUPON_REBATE_DETAIL (COUPON_CODE,COUPON_TYPE_CODE,REBATE_DETAIL,REBATE_CAL)
        values (#{COUPON_CODE},#{COUPON_TYPE_CODE},#{REBATE_DETAIL},#{REBATE_CAL})
    </insert>

    <update id="deleteCoupon">
        update STARCLOUDPORTAL.SCE_COUPON set IS_DELETE = 0 and STATE = 'D' where COUPON_CODE = #{COUPON_CODE}
    </update>
</mapper>