<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.bonc.sce.mapper.InvoiceMapper">
    <!--查询发票资质-->
    <select id="selectInvoiceInfoByOrganizationId" parameterType="java.lang.Long" resultType="Map">
            SELECT
                INVOICE_TITLE,
                OPEN_TYPE,
                INVOICE_TYPE,
                TAX_REGISTRATION_NO,
                DEPOSIT_BANK,
                BANK_ACCOUNT,
                REGISTRATION_LOCATION,
                REGISTRATION_TELEPHONE,
                ORGANIZATION_ID,
                CREATE_TIME,
                UPDATE_TIME
            FROM
                STARCLOUDPORTAL.SCE_INVOICE_INFO
            WHERE
                ORGANIZATION_ID = #{organizationId}
                AND IS_DELETE = 1
    </select>
    <!--新增发票资质信息-->
    <insert id="insertInvoiceSelective" parameterType="Map">
        insert into STARCLOUDPORTAL.SCE_INVOICE_INFO
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ID != null">
                ID,
            </if>
            <if test="INVOICE_TITLE != null">
                INVOICE_TITLE,
            </if>
            <if test="OPEN_TYPE != null">
                OPEN_TYPE,
            </if>
            <if test="INVOICE_TYPE != null">
                INVOICE_TYPE,
            </if>
            <if test="TAX_REGISTRATION_NO != null">
                TAX_REGISTRATION_NO,
            </if>
            <if test="DEPOSIT_BANK != null">
                DEPOSIT_BANK,
            </if>
            <if test="BANK_ACCOUNT != null">
                BANK_ACCOUNT,
            </if>
            <if test="REGISTRATION_LOCATION != null">
                REGISTRATION_LOCATION,
            </if>
            <if test="REGISTRATION_TELEPHONE != null">
                REGISTRATION_TELEPHONE,
            </if>
            <if test="ORGANIZATION_ID != null">
                ORGANIZATION_ID,
            </if>
            <if test="CREATE_TIME != null">
                CREATE_TIME,
            </if>
            <if test="UPDATE_TIME != null">
                UPDATE_TIME,
            </if>
            <if test="IS_DELETE != null">
                IS_DELETE,
            </if>
            <if test="UPDATE_USER_ID != null">
                UPDATE_USER_ID,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ID != null">
                #{ID},
            </if>
            <if test="INVOICE_TITLE != null">
                #{INVOICE_TITLE,jdbcType=VARCHAR},
            </if>
            <if test="OPEN_TYPE != null">
                #{OPEN_TYPE,jdbcType=VARCHAR},
            </if>
            <if test="INVOICE_TYPE != null">
                #{INVOICE_TYPE,jdbcType=VARCHAR},
            </if>
            <if test="TAX_REGISTRATION_NO != null">
                #{TAX_REGISTRATION_NO,jdbcType=VARCHAR},
            </if>
            <if test="DEPOSIT_BANK != null">
                #{DEPOSIT_BANK,jdbcType=VARCHAR},
            </if>
            <if test="BANK_ACCOUNT != null">
                #{BANK_ACCOUNT,jdbcType=VARCHAR},
            </if>
            <if test="REGISTRATION_LOCATION != null">
                #{REGISTRATION_LOCATION,jdbcType=VARCHAR},
            </if>
            <if test="REGISTRATION_TELEPHONE != null">
                #{REGISTRATION_TELEPHONE,jdbcType=VARCHAR},
            </if>
            <if test="ORGANIZATION_ID != null">
                #{ORGANIZATION_ID,jdbcType=DECIMAL},
            </if>
            <if test="CREATE_TIME != null">
                #{CREATE_TIME,jdbcType=DATE},
            </if>
            <if test="UPDATE_TIME != null">
                #{UPDATE_TIME,jdbcType=DATE},
            </if>
            <if test="IS_DELETE != null">
                #{IS_DELETE,jdbcType=DECIMAL},
            </if>
            <if test="UPDATE_USER_ID != null">
                #{UPDATE_USER_ID,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <!-- 查询开票历史-->
    <select id="selectInvoiceHistory" parameterType="String" resultType="Map">
        SELECT ORDER_NO, D.ID, D.APPLY_TIME, D.APPLY_USER_ID, D.INVOICE_AMOUNT, D.INVOICE_STATUS
        , D.IS_DELETE, D.RECIPIENTS, D.POST_ADDRESS, D.TELEPHONE_NUMBER, D.PROVINCE
        , D.CITY, D.AREA, D.INVOICE_TITLE, D.OPEN_TYPE, D.INVOICE_CONTENT
        , D.TAX_REGISTRATION_NO, D.DEPOSIT_BANK, D.BANK_ACCOUNT, D.REGISTRATION_LOCATION, D.REGISTRATION_TELEPHONE
        , D.INVOICE_CODE, D.INVOICE_NO, D.EXPRESS_COMPANY, D.COURIER_NUMBER,scu.USER_NAME AS CREATE_USER_NAME,D.CREATE_TIME
        FROM STARCLOUDPORTAL.SCE_ORDER_INVOICE_INFO D
        INNER JOIN (
        SELECT WMSYS.WM_CONCAT(C.ORDER_ID) AS ORDER_NO, B.ID
        FROM STARCLOUDPORTAL.SCE_ORDER_INVOICE_REL A
        LEFT JOIN STARCLOUDPORTAL.SCE_ORDER_INVOICE_INFO B ON A.ORDER_INVOICE_ID = B.ID
        LEFT JOIN STARCLOUDPORTAL.SCE_ORDER_INFO C ON A.ORDER_ID = C.ORDER_ID
        GROUP BY B.ID
        ) E ON D.ID = E.ID
        LEFT JOIN
        STARCLOUDPORTAL.SCE_COMMON_USER scu ON D.CREATE_USER_ID =scu.user_id
        <where>
            <if test="INVOICE_STATUS != null and INVOICE_STATUS != '' ">
                AND D.INVOICE_STATUS = #{INVOICE_STATUS}
            </if>
            <if test="ORDER_NO != null and ORDER_NO != '' ">
                AND ORDER_NO LIKE CONCAT(CONCAT('%',#{ORDER_NO}),'%')
            </if>
            <if test="OPEN_TYPE != null and OPEN_TYPE != '' ">
                AND D.OPEN_TYPE = #{OPEN_TYPE}
            </if>
            <if test="INVOICE_CONTENT != null and INVOICE_CONTENT != '' ">
                AND D.INVOICE_CONTENT = #{INVOICE_CONTENT}
            </if>
        </where>
        ORDER BY D.CREATE_TIME DESC
    </select>
    <!--修改发票资质信息-->
    <update id="updateInvoiceInfoByOrganizationId" parameterType="String">
        UPDATE STARCLOUDPORTAL.SCE_INVOICE_INFO
        SET
        <if test="INVOICE_TITLE != null and INVOICE_TITLE != ''">INVOICE_TITLE = #{INVOICE_TITLE} ,</if>
        <if test="OPEN_TYPE != null and OPEN_TYPE != ''">OPEN_TYPE = #{OPEN_TYPE} ,</if>
        <if test="INVOICE_TYPE != null and INVOICE_TYPE != ''">INVOICE_TYPE = #{INVOICE_TYPE} ,</if>
        <if test="TAX_REGISTRATION_NO != null and TAX_REGISTRATION_NO != ''">TAX_REGISTRATION_NO =
            #{TAX_REGISTRATION_NO} ,
        </if>
        <if test="DEPOSIT_BANK != null and DEPOSIT_BANK != ''">DEPOSIT_BANK = #{DEPOSIT_BANK} ,</if>
        <if test="BANK_ACCOUNT != null and BANK_ACCOUNT != ''">BANK_ACCOUNT = #{BANK_ACCOUNT} ,</if>
        <if test="REGISTRATION_LOCATION != null and REGISTRATION_LOCATION != ''">REGISTRATION_LOCATION =
            #{REGISTRATION_LOCATION} ,
        </if>
        <if test="REGISTRATION_TELEPHONE != null and REGISTRATION_TELEPHONE != ''">REGISTRATION_TELEPHONE =
            #{REGISTRATION_TELEPHONE} ,
        </if>
        <if test="UPDATE_USER_ID != null and UPDATE_USER_ID != ''">UPDATE_USER_ID = #{UPDATE_USER_ID} ,</if>

        UPDATE_TIME=sysdate
        WHERE
        ORGANIZATION_ID = #{ORGANIZATION_ID}
        AND IS_DELETE = 1
    </update>

    <select id="selectOrganizationIdByUserId" resultType="java.lang.Long">
        SELECT ORGANIZATION_ID  FROM STARCLOUDPORTAL.SCE_COMMON_USER WHERE USER_ID =#{userId}
    </select>
    <!-- 查询发票收票地址信息-->
    <select id="selectInvoiceAddress" parameterType="java.lang.Long" resultType="Map">
            SELECT
                RECIPIENTS,
                TELEPHONE_NUMBER,
                POST_ADDRESS,
                PROVINCE,
                CITY,
                AREA,
                ORGANIZATION_ID
            FROM
                STARCLOUDPORTAL.SCE_INVOICE_ADDRESS
            WHERE
                ORGANIZATION_ID = #{organizationId}
                AND IS_DELETE = 1
    </select>

    <!--插入收票地址-->
    <insert id="insertInvoiceAddressSelective" parameterType="Map">
        insert into STARCLOUDPORTAL.SCE_INVOICE_ADDRESS
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ID != null">ID,</if>
            <if test="ORGANIZATION_ID != null">ORGANIZATION_ID,</if>
            <if test="RECIPIENTS != null">RECIPIENTS,</if>
            <if test="POST_ADDRESS != null">POST_ADDRESS,</if>
            <if test="TELEPHONE_NUMBER != null">TELEPHONE_NUMBER,</if>
            <if test="IS_DELETE != null">IS_DELETE,</if>
            <if test="PROVINCE != null">PROVINCE,</if>
            <if test="CITY != null">CITY,</if>
            <if test="AREA != null">AREA</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ID != null">#{ID},</if>
            <if test="ORGANIZATION_ID != null">#{ORGANIZATION_ID},</if>
            <if test="RECIPIENTS != null">#{RECIPIENTS},</if>
            <if test="POST_ADDRESS != null">#{POST_ADDRESS},</if>
            <if test="TELEPHONE_NUMBER != null">#{TELEPHONE_NUMBER},</if>
            <if test="IS_DELETE != null">#{IS_DELETE},</if>
            <if test="PROVINCE != null">#{PROVINCE},</if>
            <if test="CITY != null">#{CITY},</if>
            <if test="AREA != null">#{AREA}</if>
        </trim>
    </insert>
    <!--修改收票地址-->
    <update id="updateInvoiceAddressByOrganizationId" parameterType="String">
        UPDATE STARCLOUDPORTAL.SCE_INVOICE_ADDRESS
        SET
        <if test="RECIPIENTS != null and RECIPIENTS != ''">RECIPIENTS = #{RECIPIENTS} ,</if>
        <if test="POST_ADDRESS != null and POST_ADDRESS != ''">POST_ADDRESS = #{POST_ADDRESS} ,</if>
        <if test="TELEPHONE_NUMBER != null and TELEPHONE_NUMBER != ''">TELEPHONE_NUMBER = #{TELEPHONE_NUMBER} ,</if>
        <if test="PROVINCE != null and PROVINCE != ''">PROVINCE = #{PROVINCE} ,</if>
        <if test="CITY != null and CITY != ''">CITY = #{CITY} ,</if>
        <if test="AREA != null and AREA != ''">AREA = #{AREA}</if>
        WHERE
        ORGANIZATION_ID = #{ORGANIZATION_ID}
        AND IS_DELETE = 1
    </update>


    <select id="selectOrderInvoiceInfo" resultType="Map">
        SELECT
        SII.ID,
        SII.APPLY_TIME,
        SII.APPLY_USER_ID,
        SII.INVOICE_AMOUNT,
        SII.INVOICE_STATUS,
        SII.RECIPIENTS,
        SII.POST_ADDRESS,
        SII.TELEPHONE_NUMBER,
        SII.PROVINCE,
        SII.CITY,
        SII.AREA,
        SII.INVOICE_TITLE,
        SII.OPEN_TYPE,
        SII.INVOICE_CONTENT,
        SII.TAX_REGISTRATION_NO,
        SII.DEPOSIT_BANK,
        SII.BANK_ACCOUNT,
        SII.REGISTRATION_LOCATION,
        SII.REGISTRATION_TELEPHONE,
        SII.INVOICE_CODE,
        SII.INVOICE_NO,
        SII.EXPRESS_COMPANY,
        SII.COURIER_NUMBER
        FROM
        STARCLOUDPORTAL.SCE_ORDER_INVOICE_INFO SII
        AND SII.IS_DELETE =1
        <if test="ID != null and ID != ''">AND SII.ID = #{ID}</if>
    </select>
    <!--  插入订单发票表-->
    <insert id="insertOrderInvoiceSelective">
        insert into STARCLOUDPORTAL.SCE_ORDER_INVOICE_INFO
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ID != null">ID,</if>
            <if test="INVOICE_ID != null">INVOICE_ID,</if>
            <if test="APPLY_TIME != null">APPLY_TIME,</if>
            <if test="APPLY_USER_ID != null">APPLY_USER_ID,</if>
            <if test="INVOICE_AMOUNT != null">INVOICE_AMOUNT,</if>
            <if test="INVOICE_STATUS != null">INVOICE_STATUS,</if>
            <if test="IS_DELETE != null">IS_DELETE,</if>
            <if test="RECIPIENTS != null">RECIPIENTS,</if>
            <if test="POST_ADDRESS != null">POST_ADDRESS,</if>
            <if test="TELEPHONE_NUMBER != null">TELEPHONE_NUMBER,</if>
            <if test="PROVINCE != null">PROVINCE,</if>
            <if test="CITY != null">CITY,</if>
            <if test="AREA != null">AREA,</if>
            <if test="INVOICE_TITLE != null">INVOICE_TITLE,</if>
            <if test="OPEN_TYPE != null">OPEN_TYPE,</if>
            <if test="INVOICE_CONTENT != null">INVOICE_CONTENT,</if>
            <if test="TAX_REGISTRATION_NO != null">TAX_REGISTRATION_NO,</if>
            <if test="DEPOSIT_BANK != null">DEPOSIT_BANK,</if>
            <if test="BANK_ACCOUNT != null">BANK_ACCOUNT,</if>
            <if test="REGISTRATION_LOCATION != null">REGISTRATION_LOCATION,</if>
            <if test="REGISTRATION_TELEPHONE != null">REGISTRATION_TELEPHONE,</if>
            <if test="INVOICE_CODE != null">INVOICE_CODE,</if>
            <if test="INVOICE_NO != null">INVOICE_NO,</if>
            <if test="EXPRESS_COMPANY != null">EXPRESS_COMPANY,</if>
            <if test="COURIER_NUMBER != null">COURIER_NUMBER,</if>
            <if test="CREATE_USER_ID != null">CREATE_USER_ID,</if>
            <if test="CREATE_TIME != null">CREATE_TIME,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ID != null">#{ID,jdbcType=DECIMAL},</if>
            <if test="INVOICE_ID != null">#{INVOICE_ID,jdbcType=DECIMAL},</if>
            <if test="APPLY_TIME != null">#{APPLY_TIME,jdbcType=DATE},</if>
            <if test="APPLY_USER_ID != null">#{APPLY_USER_ID,jdbcType=VARCHAR},</if>
            <if test="INVOICE_AMOUNT != null">#{INVOICE_AMOUNT,jdbcType=DECIMAL},</if>
            <if test="INVOICE_STATUS != null">#{INVOICE_STATUS,jdbcType=VARCHAR},</if>
            <if test="IS_DELETE != null">#{IS_DELETE,jdbcType=DECIMAL},</if>
            <if test="RECIPIENTS != null">#{RECIPIENTS,jdbcType=VARCHAR},</if>
            <if test="POST_ADDRESS != null">#{POST_ADDRESS,jdbcType=VARCHAR},</if>
            <if test="TELEPHONE_NUMBER != null">#{TELEPHONE_NUMBER,jdbcType=VARCHAR},</if>
            <if test="PROVINCE != null">#{PROVINCE,jdbcType=VARCHAR},</if>
            <if test="CITY != null">#{CITY,jdbcType=VARCHAR},</if>
            <if test="AREA != null">#{AREA,jdbcType=VARCHAR},</if>
            <if test="INVOICE_TITLE != null">#{INVOICE_TITLE,jdbcType=VARCHAR},</if>
            <if test="OPEN_TYPE != null">#{OPEN_TYPE,jdbcType=VARCHAR},</if>
            <if test="INVOICE_CONTENT != null">#{INVOICE_CONTENT,jdbcType=VARCHAR},</if>
            <if test="TAX_REGISTRATION_NO != null">#{TAX_REGISTRATION_NO,jdbcType=VARCHAR},</if>
            <if test="DEPOSIT_BANK != null">#{DEPOSIT_BANK,jdbcType=VARCHAR},</if>
            <if test="BANK_ACCOUNT != null">#{BANK_ACCOUNT,jdbcType=VARCHAR},</if>
            <if test="REGISTRATION_LOCATION != null">#{REGISTRATION_LOCATION,jdbcType=VARCHAR},</if>
            <if test="REGISTRATION_TELEPHONE != null">#{REGISTRATION_TELEPHONE,jdbcType=VARCHAR},</if>
            <if test="INVOICE_CODE != null">#{INVOICE_CODE,jdbcType=VARCHAR},</if>
            <if test="INVOICE_NO != null">#{INVOICE_NO,jdbcType=VARCHAR},</if>
            <if test="EXPRESS_COMPANY != null">#{EXPRESS_COMPANY,jdbcType=VARCHAR},</if>
            <if test="COURIER_NUMBER != null">#{COURIER_NUMBER,jdbcType=VARCHAR},</if>
            <if test="CREATE_USER_ID != null">#{CREATE_USER_ID,jdbcType=VARCHAR},</if>
            <if test="CREATE_TIME != null">#{CREATE_TIME},</if>
        </trim>
    </insert>
    <!--修改订单发票表 通过id修改SCE_ORDER_INVOICE_INFO-->
    <update id="updateOrderInvoiceSelective">
        update STARCLOUDPORTAL.SCE_ORDER_INVOICE_INFO
        <set>
            <if test="ID != null">ID = #{ID},</if>
            <if test="INVOICE_ID != null">INVOICE_ID = #{INVOICE_ID,jdbcType=DECIMAL},</if>
            <if test="APPLY_TIME != null">APPLY_TIME = #{APPLY_TIME,jdbcType=DATE},</if>
            <if test="APPLY_USER_ID != null">APPLY_USER_ID = #{APPLY_USER_ID,jdbcType=VARCHAR},</if>
            <if test="INVOICE_AMOUNT != null">INVOICE_AMOUNT = #{INVOICE_AMOUNT,jdbcType=DECIMAL},</if>
            <if test="INVOICE_STATUS != null">INVOICE_STATUS = #{INVOICE_STATUS,jdbcType=VARCHAR},</if>
            <if test="IS_DELETE != null">IS_DELETE = #{IS_DELETE,jdbcType=DECIMAL},</if>
            <if test="RECIPIENTS != null">RECIPIENTS = #{RECIPIENTS,jdbcType=VARCHAR},</if>
            <if test="POST_ADDRESS != null">POST_ADDRESS = #{POST_ADDRESS,jdbcType=VARCHAR},</if>
            <if test="TELEPHONE_NUMBER != null">TELEPHONE_NUMBER = #{TELEPHONE_NUMBER,jdbcType=VARCHAR},</if>
            <if test="PROVINCE != null">PROVINCE = #{PROVINCE,jdbcType=VARCHAR},</if>
            <if test="CITY != null">CITY = #{CITY,jdbcType=VARCHAR},</if>
            <if test="AREA != null">AREA = #{AREA,jdbcType=VARCHAR},</if>
            <if test="INVOICE_TITLE != null">INVOICE_TITLE = #{INVOICE_TITLE,jdbcType=VARCHAR},</if>
            <if test="OPEN_TYPE != null">OPEN_TYPE = #{OPEN_TYPE,jdbcType=VARCHAR},</if>
            <if test="INVOICE_CONTENT != null">INVOICE_CONTENT = #{INVOICE_CONTENT,jdbcType=VARCHAR},</if>
            <if test="TAX_REGISTRATION_NO != null">TAX_REGISTRATION_NO = #{TAX_REGISTRATION_NO,jdbcType=VARCHAR},</if>
            <if test="DEPOSIT_BANK != null">DEPOSIT_BANK = #{DEPOSIT_BANK,jdbcType=VARCHAR},</if>
            <if test="BANK_ACCOUNT != null">BANK_ACCOUNT = #{BANK_ACCOUNT,jdbcType=VARCHAR},</if>
            <if test="REGISTRATION_LOCATION != null">REGISTRATION_LOCATION =
                #{REGISTRATION_LOCATION,jdbcType=VARCHAR},
            </if>
            <if test="REGISTRATION_TELEPHONE != null">REGISTRATION_TELEPHONE =
                #{REGISTRATION_TELEPHONE,jdbcType=VARCHAR},
            </if>
            <if test="INVOICE_CODE != null">INVOICE_CODE = #{INVOICE_CODE,jdbcType=VARCHAR},</if>
            <if test="INVOICE_NO != null">INVOICE_NO = #{INVOICE_NO,jdbcType=VARCHAR},</if>
            <if test="EXPRESS_COMPANY != null">EXPRESS_COMPANY = #{EXPRESS_COMPANY,jdbcType=VARCHAR},</if>
            <if test="COURIER_NUMBER != null">COURIER_NUMBER = #{COURIER_NUMBER,jdbcType=VARCHAR},</if>
        </set>
        WHERE ID=#{ID}
    </update>
    <!--插入 订单发票 关系表 SCE_ORDER_INVOICE_REL -->
    <insert id="insertOrderInvoiceRel">
          INSERT INTO STARCLOUDPORTAL.SCE_ORDER_INVOICE_REL VALUES (#{ID},#{ORDER_ID},#{ORDER_INVOICE_ID})
    </insert>
</mapper>