<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.bonc.sce.mapper.InvoiceMapper">
    <!--查询发票资质-->
    <select id="selectInvoiceInfoByOrganizationId" parameterType="java.lang.Long" resultType="Map">
            SELECT
                INVOICE_TITLE,
                OPEN_TYPE,
                INVOICE_TYPE,
                TAX_REGISTRATION_NO,
                DEPOSIT_BANK,
                BANK_ACCOUNT,
                REGISTRATION_LOCATION,
                REGISTRATION_TELEPHONE,
                ORGANIZATION_ID,
                CREATE_TIME,
                UPDATE_TIME
            FROM
                STARCLOUDPORTAL.SCE_INVOICE_INFO
            WHERE
                ORGANIZATION_ID = #{organizationId}
                AND IS_DELETE = 1
    </select>
    <!--新增发票资质信息-->
    <insert id="insertInvoiceSelective" parameterType="Map">
        insert into STARCLOUDPORTAL.SCE_INVOICE_INFO
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ID != null">
                ID,
            </if>
            <if test="INVOICE_TITLE != null">
                INVOICE_TITLE,
            </if>
            <if test="OPEN_TYPE != null">
                OPEN_TYPE,
            </if>
            <if test="INVOICE_TYPE != null">
                INVOICE_TYPE,
            </if>
            <if test="TAX_REGISTRATION_NO != null">
                TAX_REGISTRATION_NO,
            </if>
            <if test="DEPOSIT_BANK != null">
                DEPOSIT_BANK,
            </if>
            <if test="BANK_ACCOUNT != null">
                BANK_ACCOUNT,
            </if>
            <if test="REGISTRATION_LOCATION != null">
                REGISTRATION_LOCATION,
            </if>
            <if test="REGISTRATION_TELEPHONE != null">
                REGISTRATION_TELEPHONE,
            </if>
            <if test="ORGANIZATION_ID != null">
                ORGANIZATION_ID,
            </if>
            <if test="CREATE_TIME != null">
                CREATE_TIME,
            </if>
            <if test="UPDATE_TIME != null">
                UPDATE_TIME,
            </if>
            <if test="IS_DELETE != null">
                IS_DELETE,
            </if>
            <if test="UPDATE_USER_ID != null">
                UPDATE_USER_ID,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ID != null">
                #{ID},
            </if>
            <if test="INVOICE_TITLE != null">
                #{INVOICE_TITLE,jdbcType=VARCHAR},
            </if>
            <if test="OPEN_TYPE != null">
                #{OPEN_TYPE,jdbcType=VARCHAR},
            </if>
            <if test="INVOICE_TYPE != null">
                #{INVOICE_TYPE,jdbcType=VARCHAR},
            </if>
            <if test="TAX_REGISTRATION_NO != null">
                #{TAX_REGISTRATION_NO,jdbcType=VARCHAR},
            </if>
            <if test="DEPOSIT_BANK != null">
                #{DEPOSIT_BANK,jdbcType=VARCHAR},
            </if>
            <if test="BANK_ACCOUNT != null">
                #{BANK_ACCOUNT,jdbcType=VARCHAR},
            </if>
            <if test="REGISTRATION_LOCATION != null">
                #{REGISTRATION_LOCATION,jdbcType=VARCHAR},
            </if>
            <if test="REGISTRATION_TELEPHONE != null">
                #{REGISTRATION_TELEPHONE,jdbcType=VARCHAR},
            </if>
            <if test="ORGANIZATION_ID != null">
                #{ORGANIZATION_ID,jdbcType=DECIMAL},
            </if>
            <if test="CREATE_TIME != null">
                #{CREATE_TIME,jdbcType=DATE},
            </if>
            <if test="UPDATE_TIME != null">
                #{UPDATE_TIME,jdbcType=DATE},
            </if>
            <if test="IS_DELETE != null">
                #{IS_DELETE,jdbcType=DECIMAL},
            </if>
            <if test="UPDATE_USER_ID != null">
                #{UPDATE_USER_ID,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <!-- 查询开票历史-->
    <select id="selectInvoiceHistory" parameterType="String" resultType="Map">
            SELECT
                SIPI.INVOICE_ID,
                SIPI.APPLY_TIME,
                SIPI.APPLY_USER_ID,
                SIPI.INVOICE_AMOUNT,
                SIPI.INVOICE_STATUS,
                SII.INVOICE_TITLE
            FROM
                STARCLOUDPORTAL.SCE_INVOICE_POST_INFO SIPI
                LEFT JOIN STARCLOUDPORTAL.SCE_INVOICE_INFO SII ON SIPI.INVOICE_ID = SII.ID
            WHERE
                SIPI.IS_DELETE = 1
                AND SIPI.APPLY_USER_ID = #{USER_ID}
            ORDER BY
                SIPI.APPLY_TIME
    </select>
    <!--修改发票资质信息-->
    <update id="updateInvoiceInfoByOrganizationId" parameterType="String">
        UPDATE STARCLOUDPORTAL.SCE_INVOICE_INFO
        SET
        <if test="INVOICE_TITLE != null and INVOICE_TITLE != ''">INVOICE_TITLE = #{INVOICE_TITLE} ,</if>
        <if test="OPEN_TYPE != null and OPEN_TYPE != ''">OPEN_TYPE = #{OPEN_TYPE} ,</if>
        <if test="INVOICE_TYPE != null and INVOICE_TYPE != ''">INVOICE_TYPE = #{INVOICE_TYPE} ,</if>
        <if test="TAX_REGISTRATION_NO != null and TAX_REGISTRATION_NO != ''">TAX_REGISTRATION_NO =
            #{TAX_REGISTRATION_NO} ,
        </if>
        <if test="DEPOSIT_BANK != null and DEPOSIT_BANK != ''">DEPOSIT_BANK = #{DEPOSIT_BANK} ,</if>
        <if test="BANK_ACCOUNT != null and BANK_ACCOUNT != ''">BANK_ACCOUNT = #{BANK_ACCOUNT} ,</if>
        <if test="REGISTRATION_LOCATION != null and REGISTRATION_LOCATION != ''">REGISTRATION_LOCATION =
            #{REGISTRATION_LOCATION} ,
        </if>
        <if test="REGISTRATION_TELEPHONE != null and REGISTRATION_TELEPHONE != ''">REGISTRATION_TELEPHONE =
            #{REGISTRATION_TELEPHONE} ,
        </if>
        <if test="UPDATE_USER_ID != null and UPDATE_USER_ID != ''">UPDATE_USER_ID = #{UPDATE_USER_ID} ,</if>

        UPDATE_TIME=sysdate
        WHERE
        ORGANIZATION_ID = #{ORGANIZATION_ID}
        AND IS_DELETE = 1
    </update>

    <select id="selectOrganizationIdByUserId" resultType="java.lang.Long">
        SELECT ORGANIZATION_ID  FROM STARCLOUDPORTAL.SCE_COMMON_USER WHERE USER_ID =#{userId}
    </select>
    <!-- 查询发票收票地址信息-->
    <select id="selectInvoiceAddress" parameterType="java.lang.Long" resultType="Map">
            SELECT
                NAME,
                TELEPHONE_NUMBER,
                POST_ADDRESS,
                PROVINCE,
                CITY,
                AREA,
                ORGANIZATION_ID
            FROM
                STARCLOUDPORTAL.SCE_INVOICE_ADDRESS
            WHERE
                ORGANIZATION_ID = #{organizationId}
                AND IS_DELETE = 1
    </select>

    <!--插入收票地址-->
    <insert id="insertInvoiceAddressSelective" parameterType="Map">
        insert into STARCLOUDPORTAL.SCE_INVOICE_ADDRESS
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ID != null">ID,</if>
            <if test="ORGANIZATION_ID != null">ORGANIZATION_ID,</if>
            <if test="NAME != null">NAME,</if>
            <if test="POST_ADDRESS != null">POST_ADDRESS,</if>
            <if test="TELEPHONE_NUMBER != null">TELEPHONE_NUMBER,</if>
            <if test="IS_DELETE != null">IS_DELETE,</if>
            <if test="PROVINCE != null">PROVINCE,</if>
            <if test="CITY != null">CITY,</if>
            <if test="AREA != null">AREA</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ID != null">#{ID},</if>
            <if test="ORGANIZATION_ID != null">#{ORGANIZATION_ID},</if>
            <if test="NAME != null">#{NAME},</if>
            <if test="POST_ADDRESS != null">#{POST_ADDRESS},</if>
            <if test="TELEPHONE_NUMBER != null">#{TELEPHONE_NUMBER},</if>
            <if test="IS_DELETE != null">#{IS_DELETE},</if>
            <if test="PROVINCE != null">#{PROVINCE},</if>
            <if test="CITY != null">#{CITY},</if>
            <if test="AREA != null">#{AREA}</if>
        </trim>
    </insert>
    <!--修改收票地址-->
    <update id="updateInvoiceAddressByOrganizationId" parameterType="String">
        UPDATE STARCLOUDPORTAL.SCE_INVOICE_ADDRESS
        SET
        <if test="NAME != null and NAME != ''">NAME = #{NAME} ,</if>
        <if test="POST_ADDRESS != null and POST_ADDRESS != ''">POST_ADDRESS = #{POST_ADDRESS} ,</if>
        <if test="TELEPHONE_NUMBER != null and TELEPHONE_NUMBER != ''">TELEPHONE_NUMBER = #{TELEPHONE_NUMBER} ,</if>
        <if test="PROVINCE != null and PROVINCE != ''">PROVINCE = #{PROVINCE} ,</if>
        <if test="CITY != null and CITY != ''">CITY = #{CITY} ,</if>
        <if test="AREA != null and AREA != ''">AREA = #{AREA} </if>
        WHERE
        ORGANIZATION_ID = #{ORGANIZATION_ID}
        AND IS_DELETE = 1
    </update>
</mapper>