<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.bonc.sce.mapper.NavigationMapper">

    <select id="getChannel" resultType="cn.com.bonc.sce.bean.NavigationBean">
        SELECT CHANNEL_ID AS channelId,CHANNEL_NAME AS channelName,CHANNEL_URL AS channelUrl
        FROM STARCLOUDPORTAL.SCE_COMMON_CHANNEL_INFO
        WHERE CHANNEL_TYPE=#{channelType}
        AND IS_DELETE=1
    </select>

    <insert id="addChannel" parameterType="java.util.Map" useGeneratedKeys="true">
        INSERT INTO STARCLOUDPORTAL.SCE_COMMON_CHANNEL_INFO
        (CHANNEL_ID,CHANNEL_NAME,CHANNEL_URL,CHANNEL_TYPE,IS_DELETE)
        VALUES
        (#{channelId},#{channelName},#{channelUrl},#{channelType},#{isDeleted})
    </insert>

    <update id="editChannel" parameterType="java.util.Map">
        UPDATE STARCLOUDPORTAL.SCE_COMMON_CHANNEL_INFO
        <set>
            <if test="channelName != null">CHANNEL_NAME=#{channelName},</if>
            <if test="channelUrl != null">CHANNEL_URL=#{channelUrl}</if>
        </set>
        WHERE
        CHANNEL_ID=#{channelId}
    </update>

    <select id="getSchools" resultType="Map">
        SELECT ID,SCHOOL_NAME,SCHOOL_ADDRESS,DEFAULT_BANNER
        FROM STARCLOUDPORTAL.SCE_ENTITY_SCHOOL
        WHERE 1=1
        <if test="keywords != null and keywords!= ''" >
            AND SCHOOL_NAME LIKE CONCAT(CONCAT('%',#{keywords}),'%')
        </if>
        AND IS_DELETE=1
    </select>

    <select id="getBanners" resultType="Map">
        SELECT ID,BANNER_ORDER,IMAGE_URL,BANNER_TYPE_ID
        FROM STARCLOUDPORTAL.SCE_PORTAL_BANNER
        WHERE SCHOOL_ID=#{schoolId}
        AND IS_DELETE=1
        AND BANNER_TYPE_ID=3  /*学校banner*/
        ORDER BY BANNER_ORDER
    </select>

    <update id="editDefaultBanner">
        UPDATE
        STARCLOUDPORTAL.SCE_ENTITY_SCHOOL
        SET DEFAULT_BANNER = #{newBanner}
        WHERE
        ID = #{schoolId}
    </update>

    <update id="delBanner">
        UPDATE
        STARCLOUDPORTAL.SCE_PORTAL_BANNER
        SET IS_DELETE=0,UPDATE_TIME=SYSDATE
        WHERE ID=#{bannerId}
    </update>

    <update id="delChannel">
        UPDATE STARCLOUDPORTAL.SCE_COMMON_CHANNEL_INFO
        SET IS_DELETE=0
        WHERE CHANNEL_ID=#{channelId}
    </update>
</mapper>