<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.bonc.sce.mapper.NewsMapper">

    <insert id="insertNewsInfo" parameterType="cn.com.bonc.sce.bean.NewsBean">
        INSERT INTO STARCLOUDPORTAL.SCE_COMMON_COLUMN_CONTENT (CONTENT_ID,COLUMN_ID,CONTENT_TYPE
        <if test="contentTag != null and contentTag != ''">
            ,CONTENT_TAG
        </if>
        <if test="contentTitle != null and contentTitle != ''">
            ,CONTENT_TITLE
        </if>
        <if test="content != null and content != ''">
            ,NEWS_CONTENT
        </if>
        ,CONTENT_STATUS,CREATE_TIME,CREATE_USER_ID
        <if test="picId != null ">
            ,PIC_ID
        </if>
        <if test="fileId != null ">
            ,FILE_ID
        </if>
        <if test="contentKeyword != null and contentKeyword != ''">
            ,CONTENT_KEYWORD
        </if>
        ,IS_TOP
        <if test="picUrl != null and picUrl != ''">
            ,PIC_URL
        </if>
        <if test="fileUrl != null and fileUrl != ''">
            ,FILE_URL
        </if>
        <if test="newsAbstract != null and newsAbstract != ''">
            ,NEWS_ABSTRACT
        </if>
        <if test="topOrder != null ">
            ,TOP_ORDER
        </if>
        <if test="showOrder != null ">
            ,SHOW_ORDER
        </if>
        <if test="newsSource != null and newsSource != ''">
            ,NEWS_SOURCE
        </if>
        ,AUTHOR_NAME,IS_PUBLISH
        )
        VALUES
        (
        #{contentId},#{columnId},#{contentType}
        <if test="contentTag != null and contentTag != ''">
            ,#{contentTag}
        </if>
        <if test="contentTitle != null and contentTitle != ''">
            ,#{contentTitle}
        </if>
        <if test="content != null and content != ''">
            ,#{content}
        </if>
        ,#{contentStatus},sysdate,#{createUserId}
        <if test="picId != null ">
            ,#{picId}
        </if>
        <if test="fileId != null ">
            ,#{fileId}
        </if>
        <if test="contentKeyword != null and contentKeyword != ''">
            ,#{contentKeyword}
        </if>
        ,#{isTop}
        <if test="picUrl != null and picUrl != ''">
            ,#{picUrl}
        </if>
        <if test="fileUrl != null and fileUrl != ''">
            ,#{fileUrl}
        </if>
        <if test="newsAbstract != null and newsAbstract != ''">
            ,#{newsAbstract}
        </if>
        <if test="topOrder != null ">
            ,#{topOrder}
        </if>
        <if test="showOrder != null ">
            ,#{showOrder}
        </if>
        <if test="newsSource != null and newsSource != ''">
            ,#{newsSource}
        </if>
        ,#{authorName},#{isPublish}
        )
    </insert>

    <update id="updateNewsInfo" parameterType="cn.com.bonc.sce.bean.NewsBean">
        UPDATE STARCLOUDPORTAL.SCE_COMMON_COLUMN_CONTENT
        <set>
            <if test="contentType != null ">
                CONTENT_TYPE = #{contentType},
            </if>
            <if test="contentTag != null and contentTag != ''">
                CONTENT_TAG = #{contentTag},
            </if>
            <if test="contentTitle != null and contentTitle != ''">
                CONTENT_TITLE = #{contentTitle},
            </if>
            <if test="content != null and content != ''">
                NEWS_CONTENT = #{content},
            </if>
            PIC_ID = #{picId},
            <if test="fileId != null ">
                FILE_ID = #{fileId},
            </if>
            <if test="contentKeyword != null and contentKeyword != ''">
                CONTENT_KEYWORD = #{contentKeyword},
            </if>
            <if test="publishDate != null ">
                PUBLISH_DATE = #{publishDate},
            </if>
            <if test="isTop != null">
                IS_TOP = #{isTop},
            </if>
            PIC_URL = #{picUrl},
            <if test="fileUrl != null and fileUrl != ''">
                FILE_URL = #{fileUrl},
            </if>
            <if test="newsAbstract != null and newsAbstract != ''">
                NEWS_ABSTRACT = #{newsAbstract},
            </if>
            <if test="updateUserId != null and updateUserId != ''">
                UPDATE_USER_ID = #{updateUserId},
            </if>
            <if test="topOrder != null ">
                TOP_ORDER = #{topOrder},
            </if>
            <if test="showOrder != null ">
                SHOW_ORDER = #{showOrder},
            </if>
            <if test="newsSource != null and newsSource != ''">
                NEWS_SOURCE = #{newsSource},
            </if>
            <if test="contentId != null and contentId != ''">
                UPDATE_TIME = sysdate,
            </if>
            CONTENT_STATUS = 0
        </set>
        WHERE CONTENT_ID = #{contentId}
    </update>

    <update id="deleteNewsInfo">
        UPDATE STARCLOUDPORTAL.SCE_COMMON_COLUMN_CONTENT
        SET IS_DELETE = 0, UPDATE_TIME = sysdate, UPDATE_USER_ID = #{userId}
        WHERE CONTENT_ID IN
        <foreach collection="idList" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="deleteTopNewsInfo">
        UPDATE STARCLOUDPORTAL.SCE_COMMON_COLUMN_CONTENT
        SET IS_TOP = 0, UPDATE_TIME = sysdate, UPDATE_USER_ID = #{userId}
        WHERE CONTENT_ID IN
        <foreach collection="idList" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="addTopNewsInfo">
        UPDATE STARCLOUDPORTAL.SCE_COMMON_COLUMN_CONTENT
        SET IS_TOP = 1, UPDATE_TIME = sysdate, UPDATE_USER_ID = #{userId}
        WHERE CONTENT_ID IN
        <foreach collection="idList" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="auditNewsInfo">
        UPDATE STARCLOUDPORTAL.SCE_COMMON_COLUMN_CONTENT
        SET CONTENT_STATUS = #{contentStatus}, UPDATE_TIME = sysdate, UPDATE_USER_ID = #{userId},
        AUDIT_USER_ID = #{userId}, AUDIT_TIME = sysdate
        <if test="rejectOpinion != null and rejectOpinion != ''">
            ,REJECT_OPINION = #{rejectOpinion}
        </if>
        WHERE CONTENT_ID = #{contentId}
    </update>

    <update id="updateNewsPublishStatus">
        UPDATE STARCLOUDPORTAL.SCE_COMMON_COLUMN_CONTENT
        SET IS_PUBLISH = #{isPublish}, UPDATE_TIME = sysdate, UPDATE_USER_ID = #{userId},
        PUBLISH_DATE = NVL(PUBLISH_DATE,sysdate)
        WHERE CONTENT_ID = #{contentId}
    </update>

    <select id="selectNewsDetailById" resultType="Map">
        SELECT
          to_char(T.CONTENT_ID) "contentId",
          T.CONTENT_TITLE "contentTitle",
          TO_CHAR(T.PUBLISH_DATE,'YYYY-MM-DD HH24:MI:SS') "publishDate",
          T.PIC_URL "picUrl",
          T.NEWS_ABSTRACT "newsAbstract",
          T.AUTHOR_NAME "authorName",
          T.NEWS_SOURCE "newsSource",
          DECODE(T.CONTENT_TYPE,1,'校园频道',2,'综合新闻',3,'基础教育',4,'学前教育',5,'家庭教育',6,'思想理论',7,'信息公开') "contentType",
          T.IS_TOP "isTop",
          T.PIC_ID "picId",
          T.CONTENT_KEYWORD "contentKeyword",
          T.CONTENT_STATUS "contentStatus",
          T.SHOW_ORDER "showOrder",
          NVL((SELECT COUNT(*) FROM STARCLOUDPORTAL.SCE_NEWS_RECORD WHERE NEWS_ID = T.CONTENT_ID),0) "viewCount"
        FROM STARCLOUDPORTAL.SCE_COMMON_COLUMN_CONTENT T
        WHERE CONTENT_ID = #{contentId}
    </select>

    <!--查询title是否重复-->
    <select id="getNumByTitle" resultType="Map">
        SELECT
            COUNT( T.CONTENT_ID ) NUM
        FROM
            STARCLOUDPORTAL.SCE_COMMON_COLUMN_CONTENT T
        WHERE
            T.CONTENT_TITLE = #{contentTitle}
            AND T.IS_DELETE = 1
        <if test="contentId != null  and contentId != ''">
            AND T.CONTENT_ID != #{contentId}
        </if>
     </select>

    <!--获取点击排行-->
    <select id="getHitVolumeRank" resultType="Map">
        SELECT
        to_char(T.CONTENT_ID) "contentId",
        T.CONTENT_TITLE "contentTitle",
        T.CONTENT "content",
        T.PUBLISH_DATE "publishDate",
        T.PIC_URL "picUrl",
        T.NEWS_ABSTRACT "newsAbstract",
        T.AUTHOR_NAME "authorName",
        T.NEWS_SOURCE "newsSource",
        NVL((SELECT COUNT(*) FROM STARCLOUDPORTAL.SCE_NEWS_RECORD WHERE NEWS_ID = T.CONTENT_ID),0) "viewCount"
        FROM STARCLOUDPORTAL.SCE_COMMON_COLUMN_CONTENT T
        WHERE 1=1 AND
        T.IS_DELETE = 1
        AND T.CONTENT_STATUS = '1'
        AND T.IS_PUBLISH=1
        ORDER BY "viewCount" DESC
    </select>

    <!--获取最新发布排行-->
    <select id="getNewestNewsRank" resultType="Map">
        SELECT
        to_char(T.CONTENT_ID) "contentId",
        T.CONTENT_TITLE "contentTitle",
        T.CONTENT "content",
        T.PUBLISH_DATE "publishDate",
        T.PIC_URL "picUrl",
        T.NEWS_ABSTRACT "newsAbstract",
        T.AUTHOR_NAME "authorName",
        T.NEWS_SOURCE "newsSource"
        FROM STARCLOUDPORTAL.SCE_COMMON_COLUMN_CONTENT T
        WHERE 1=1 AND
        T.IS_DELETE = 1
        AND T.CONTENT_STATUS = '1'
        AND T.IS_PUBLISH=1
        ORDER BY T.PUBLISH_DATE DESC
    </select>

    <resultMap id="NewsResultMap" type="cn.com.bonc.sce.bean.NewsParamBean">
        <result column="CONTENT_ID" jdbcType="INTEGER" javaType="java.lang.String" property="contentId"></result>
        <result column="COLUMN_ID" jdbcType="INTEGER" javaType="java.lang.Integer" property="columnId"></result>
        <result column="CONTENT_TYPE" jdbcType="INTEGER" javaType="java.lang.Integer" property="contentType"></result>
        <result column="CONTENT_TAG" jdbcType="VARCHAR" javaType="java.lang.String" property="contentTag"></result>
        <result column="CONTENT_TITLE" jdbcType="VARCHAR" javaType="java.lang.String" property="contentTitle"></result>
        <result column="CONTENT" jdbcType="VARCHAR" javaType="java.lang.String" property="content"></result>
        <result column="CONTENT_STATUS" jdbcType="VARCHAR" javaType="java.lang.String" property="contentStatus"></result>
        <result column="REJECT_OPINION" jdbcType="VARCHAR" javaType="java.lang.String" property="rejectOpinion"></result>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date" property="createTime"></result>
        <result column="CREATE_DATE" jdbcType="VARCHAR" javaType="java.lang.String" property="createDate"></result>
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date" property="updateTime"></result>
        <result column="CREATE_USER_ID" jdbcType="VARCHAR" javaType="java.lang.String" property="createUserId"></result>
        <result column="UPDATE_USER_ID" jdbcType="VARCHAR" javaType="java.lang.String" property="updateUserId"></result>
        <result column="REMARKS" jdbcType="VARCHAR" javaType="java.lang.String" property="remarks"></result>
        <result column="IS_DELETE" jdbcType="INTEGER" javaType="java.lang.Integer" property="isDelete"></result>
        <result column="PIC_ID" jdbcType="INTEGER" javaType="java.lang.Integer" property="picId"></result>
        <result column="FILE_ID" jdbcType="INTEGER" javaType="java.lang.Integer" property="fileId"></result>
        <result column="AUDIT_USER_ID" jdbcType="VARCHAR" javaType="java.lang.String" property="auditUserId"></result>
        <result column="AUDIT_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date" property="auditTime"></result>
        <result column="AUDIT_DATE" jdbcType="VARCHAR" javaType="java.lang.String" property="auditDate"></result>
        <result column="CONTENT_KEYWORD" jdbcType="VARCHAR" javaType="java.lang.String" property="contentKeyword"></result>
        <result column="PUBLISH_DATE" jdbcType="VARCHAR" javaType="java.lang.String" property="publishDate"></result>
        <result column="IS_TOP" jdbcType="INTEGER" javaType="java.lang.Integer" property="isTop"></result>
        <result column="PIC_URL" jdbcType="VARCHAR" javaType="java.lang.String" property="picUrl"></result>
        <result column="FILE_URL" jdbcType="VARCHAR" javaType="java.lang.String" property="fileUrl"></result>
        <result column="NEWS_ABSTRACT" jdbcType="VARCHAR" javaType="java.lang.String" property="newsAbstract"></result>
        <result column="AUTHOR_NAME" jdbcType="VARCHAR" javaType="java.lang.String" property="authorName"></result>
        <result column="NEWS_SOURCE" jdbcType="VARCHAR" javaType="java.lang.String" property="newsSource"></result>
        <result column="TOP_ORDER" jdbcType="INTEGER" javaType="java.lang.Integer" property="topOrder"></result>
        <result column="SHOW_ORDER" jdbcType="INTEGER" javaType="java.lang.Integer" property="showOrder"></result>
        <result column="HIT_VOLUME" jdbcType="INTEGER" javaType="java.lang.Long" property="hitVolume"></result>
        <result column="IS_PUBLISH" jdbcType="INTEGER" javaType="java.lang.String" property="isPublish"></result>
        <result column="PUBLISH_TIME" jdbcType="INTEGER" javaType="java.lang.String" property="publishTimestamp"></result>
    </resultMap>

    <sql id="News_Column_List">
        T.CONTENT_ID,
        T.COLUMN_ID,
        T.CONTENT_TYPE,
        T.CONTENT_TAG,
        T.CONTENT_TITLE,
        T.CONTENT,
        T.CONTENT_STATUS,
        T.REJECT_OPINION,
        T.CREATE_TIME,
        TO_CHAR(T.CREATE_TIME,'YYYY-MM-DD HH24:MI:SS') CREATE_DATE,
        T.CREATE_USER_ID,
        T.REMARKS,
        T.IS_DELETE,
        T.PIC_ID,
        T.FILE_ID,
        T.AUDIT_USER_ID,
        T.AUDIT_TIME,
        TO_CHAR(T.AUDIT_TIME,'YYYY-MM-DD HH24:MI:SS') AUDIT_DATE,
        T.CONTENT_KEYWORD,
        TO_CHAR(T.PUBLISH_DATE,'YYYY-MM-DD HH24:MI:SS') PUBLISH_DATE,
        T.IS_TOP,
        T.PIC_URL,
        T.FILE_URL,
        T.NEWS_ABSTRACT,
        T.AUTHOR_NAME,
        T.TOP_ORDER,
        T.SHOW_ORDER,
        T.NEWS_SOURCE,
        T.IS_PUBLISH,
        TO_NUMBER(T.PUBLISH_DATE - TO_DATE( '1970-01-01 8:0:0', 'YYYY-MM-DD HH24:MI:SS' )) * 24 * 60 * 60 * 1000 PUBLISH_TIME
    </sql>

    <sql id="Hit-Volume">
        ,NVL(C.HIT_VOLUME,0) HIT_VOLUME
    </sql>

    <select id="selectNewsList" resultMap="NewsResultMap" parameterType="cn.com.bonc.sce.bean.NewsParamBean">
        SELECT <include refid="News_Column_List"/>
        <include refid="Hit-Volume"/>
        FROM STARCLOUDPORTAL.SCE_COMMON_COLUMN_CONTENT  T
        LEFT JOIN (SELECT NEWS_ID,COUNT(ID) HIT_VOLUME FROM STARCLOUDPORTAL.SCE_NEWS_RECORD R where 1=1 and R.RECORD_TIME >(select sysdate - interval '7' day from dual) GROUP BY R.NEWS_ID
        ) C ON C.NEWS_ID = T.CONTENT_ID
        WHERE T.IS_DELETE = 1
        AND T.CONTENT_STATUS = '1'
        AND T.IS_PUBLISH=1
        <if test="contentType != null  and contentType != ''">
            AND T.CONTENT_TYPE = #{contentType}
        </if>

        <if test="isTop != null  and isTop != ''">
            AND T.IS_TOP = #{isTop}
        </if>

        <if test="contentTitle != null  and contentTitle != ''">
            AND T.CONTENT_TITLE LIKE   '%'||#{contentTitle}||'%'
        </if>

        <if test="sortWay != null  and sortWay != ''">

            <if test="sortWay == 0">
                ORDER BY T.PUBLISH_DATE DESC
            </if>

            <if test="sortWay == 1">
                ORDER BY T.PUBLISH_DATE ASC
            </if>
        </if>

        <if test="sortWay == null  or sortWay == ''">
            ORDER BY T.SHOW_ORDER ASC,T.PUBLISH_DATE DESC
        </if>

    </select>

    <select id="fetchTopNewsList" resultMap="NewsResultMap" parameterType="cn.com.bonc.sce.bean.NewsParamBean">
        SELECT <include refid="News_Column_List"/>
        <include refid="Hit-Volume"/>
        FROM STARCLOUDPORTAL.SCE_COMMON_COLUMN_CONTENT  T
        LEFT JOIN (SELECT NEWS_ID,COUNT(ID) HIT_VOLUME FROM STARCLOUDPORTAL.SCE_NEWS_RECORD R where 1=1 and R.RECORD_TIME >(select sysdate - interval '7' day from dual) GROUP BY R.NEWS_ID
        ) C ON C.NEWS_ID = T.CONTENT_ID
        WHERE T.IS_DELETE = 1
        AND T.CONTENT_STATUS = '1'
        AND T.IS_PUBLISH=1
        AND T.IS_TOP = 1
        <if test="contentType != null  and contentType != ''">
            AND T.CONTENT_TYPE = #{contentType}
        </if>

        <if test="contentTitle != null  and contentTitle != ''">
            AND T.CONTENT_TITLE LIKE   '%'||#{contentTitle}||'%'
        </if>
        ORDER BY T.TOP_ORDER DESC,T.CREATE_TIME DESC

    </select>


    <select id="selectBackendNewsList" resultMap="NewsResultMap" parameterType="cn.com.bonc.sce.bean.NewsParamBean">
        SELECT <include refid="News_Column_List"/>
        <include refid="Hit-Volume"/>
        FROM STARCLOUDPORTAL.SCE_COMMON_COLUMN_CONTENT  T
        LEFT JOIN (SELECT NEWS_ID,COUNT(ID) HIT_VOLUME FROM STARCLOUDPORTAL.SCE_NEWS_RECORD R where 1=1 and R.RECORD_TIME >(select sysdate - interval '7' day from dual) GROUP BY R.NEWS_ID
        ) C ON C.NEWS_ID = T.CONTENT_ID
        WHERE 1=1 AND T.IS_DELETE = 1

        <if test="contentStatus != null  and contentStatus != ''">
            AND T.CONTENT_STATUS = #{contentStatus}
        </if>

        <if test="isPublish != null  and isPublish != ''">
            AND T.IS_PUBLISH = #{isPublish}
        </if>
        <if test="contentType != null  and contentType != ''">
            AND T.CONTENT_TYPE = #{contentType}
        </if>

        <if test="contentTitle != null  and contentTitle != ''">
            AND T.CONTENT_TITLE LIKE   '%'||#{contentTitle}||'%'
        </if>

        <if test="startDate != null and startDate != '' and startDate != 'null' ">
            and T.CREATE_TIME <![CDATA[>=]]>  TO_DATE(#{startDate}, 'YYYY-MM-DD HH24-MI-SS')
        </if>

        <if test="endDate != null and endDate != '' and endDate != 'null' ">
            and T.CREATE_TIME <![CDATA[<=]]> TO_DATE(#{endDate}, 'YYYY-MM-DD HH24-MI-SS')
        </if>


        ORDER BY T.CREATE_TIME DESC

    </select>

    <select id="selectTopNewsList" resultType="Map">
        SELECT
          to_char(T.CONTENT_ID) "contentId",
          T.CONTENT_TITLE "contentTitle",
          T.TOP_ORDER "topOrder"
        FROM STARCLOUDPORTAL.SCE_COMMON_COLUMN_CONTENT T
        WHERE IS_DELETE = 1
	    AND CONTENT_STATUS = '1'
	    AND IS_PUBLISH = 1
	    AND IS_TOP =1
        ORDER BY T.TOP_ORDER DESC,T.CREATE_TIME DESC
    </select>

    <update id="updateTopNewOrder" >
        UPDATE STARCLOUDPORTAL.SCE_COMMON_COLUMN_CONTENT
        SET
          TOP_ORDER = #{topOrder},
         UPDATE_TIME = sysdate,UPDATE_USER_ID = #{userId}
        WHERE CONTENT_ID = #{contentId}
    </update>

    <update id="updateNormalNewOrder" >
        UPDATE STARCLOUDPORTAL.SCE_COMMON_COLUMN_CONTENT
        SET
        SHOW_ORDER = #{showOrder},
        UPDATE_TIME = sysdate,UPDATE_USER_ID = #{userId}
        WHERE CONTENT_ID = #{contentId}
    </update>


    <select id="selectNotTopList" resultMap="NewsResultMap" parameterType="cn.com.bonc.sce.bean.NewsParamBean">
        SELECT <include refid="News_Column_List"/>
        <include refid="Hit-Volume"/>
        FROM STARCLOUDPORTAL.SCE_COMMON_COLUMN_CONTENT  T
        LEFT JOIN (SELECT NEWS_ID,COUNT(ID) HIT_VOLUME FROM STARCLOUDPORTAL.SCE_NEWS_RECORD R where 1=1 and R.RECORD_TIME >(select sysdate - interval '7' day from dual) GROUP BY R.NEWS_ID
        ) C ON C.NEWS_ID = T.CONTENT_ID
        WHERE 1=1 AND T.IS_DELETE = 1
        AND T.CONTENT_STATUS = '1'
        AND T.IS_PUBLISH=1
        AND T.IS_TOP = 0

        <if test="contentType != null  and contentType != ''">
            AND T.CONTENT_TYPE = #{contentType}
        </if>

        <if test="contentTitle != null  and contentTitle != ''">
            AND T.CONTENT_TITLE LIKE   '%'||#{contentTitle}||'%'
        </if>

        <if test="startDate != null and startDate != '' and startDate != 'null' ">
            and T.CREATE_TIME <![CDATA[>=]]>  TO_DATE(#{startDate}, 'YYYY-MM-DD HH24-MI-SS')
        </if>

        <if test="endDate != null and endDate != '' and endDate != 'null' ">
            and T.CREATE_TIME <![CDATA[<=]]> TO_DATE(#{endDate}, 'YYYY-MM-DD HH24-MI-SS')
        </if>


        ORDER BY T.CREATE_TIME ASC

    </select>

</mapper>