<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.bonc.sce.mapper.OrderMapper">

    <insert id="insertOrder" parameterType="map">
        insert into STARCLOUDPORTAL.SCE_ORDER_INFO(ORDER_ID,PAYING_TYPE,ORDER_CREATE_TIME,BUYING_USER_ID,
        PRODUCT_NAME,PRODUCT_ID,PRICE_CALCULATION_METHOD,ORIGIN_PRICE,DISCOUNT_MODE,DISCOUNT_PRICE,ACCOUNT_PAYABLE,
        ACTUAL_PAYMENT,PAYMENT_VOUCHER,ORDER_STATUS,IS_DELETE,COUPON_CODE,PRODUCT_TYPE_CODE,ORDER_DEADLINE_TIME)
        values (#{ORDER_ID,jdbcType=NUMERIC},#{PAYING_TYPE,jdbcType=NUMERIC},#{ORDER_CREATE_TIME,jdbcType=VARCHAR},
        #{BUYING_USER_ID,jdbcType=VARCHAR},#{PRODUCT_NAME,jdbcType=VARCHAR},#{PRODUCT_ID,jdbcType=NUMERIC},
        #{PRICE_CALCULATION_METHOD,jdbcType=NUMERIC},#{ORIGIN_PRICE,jdbcType=NUMERIC},#{DISCOUNT_MODE,jdbcType=VARCHAR},
        #{DISCOUNT_PRICE,jdbcType=NUMERIC},#{ACCOUNT_PAYABLE,jdbcType=NUMERIC},#{ACTUAL_PAYMENT,jdbcType=NUMERIC},
        #{PAYMENT_VOUCHER,jdbcType=NUMERIC},#{ORDER_STATUS,jdbcType=NUMERIC},#{IS_DELETE,jdbcType=NUMERIC},
        #{COUPON_CODE,jdbcType=VARCHAR},#{PRODUCT_TYPE_CODE,jdbcType=NUMERIC},#{ORDER_DEADLINE_TIME,jdbcType=VARCHAR})
    </insert>

    <insert id="insertOrderHistroy">
        INSERT INTO STARCLOUDPORTAL.SCE_ORDER_HISTORY(ID,ORDER_ID,STATUS_UPDATE_TIME,ORDER_STATUS)
        VALUES (#{ID,jdbcType=NUMERIC},#{ORDER_ID,jdbcType=NUMERIC},#{STATUS_UPDATE_TIME,jdbcType=VARCHAR},#{ORDER_STATUS,jdbcType=NUMERIC})
    </insert>

    <select id="queryOrderByOrderID" resultType="map">
        SELECT ORDERINFO.ORDER_ID,ORDERINFO.ORDER_STATUS,ORDERINFO.PAYING_TYPE,
       ORDERINFO.ORIGIN_PRICE,ORDERINFO.DISCOUNT_PRICE,ORDERINFO.ACTUAL_PAYMENT,
        TO_CHAR(ORDERHISTORY.STATUS_UPDATE_TIME,'yyyy-MM-dd HH24:mi:ss') AS PAYMENT_TIME,ORDERINFO.COUPON_CODE,




       ORDERINFO.BUYING_USER_ID,
      ORDERINFO.PRODUCT_ID
      FROM STARCLOUDPORTAL.SCE_ORDER_INFO ORDERINFO
      LEFT JOIN STARCLOUDPORTAL.SCE_ORDER_HISTORY ORDERHISTORY ON ORDERHISTORY.ORDER_ID = ORDERINFO.ORDER_ID AND ORDERHISTORY.ORDER_STATUS = 1

      LEFT JOIN STARCLOUDPORTAL.SCE_ORDER_INVOICE_REL ORDERINVOICEREL ON ORDERINFO.ORDER_ID = ORDERINVOICEREL.ORDER_ID
      LEFT JOIN STARCLOUDPORTAL.SCE_ORDER_INVOICE_INFO ORDERINVOICEINFO ON ORDERINVOICEINFO.ID = ORDERINVOICEREL.ORDER_INVOICE_ID



      WHERE ORDERINFO.ORDER_ID = #{ORDER_ID}
    </select>

    <update id="cancelOrder">
        update STARCLOUDPORTAL.SCE_ORDER_INFO set ORDER_STATUS = 2
        where ORDER_ID = #{ORDER_ID}
    </update>

    <insert id="insertOrderVoucher" parameterType="map">

    </insert>

</mapper>