<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.bonc.sce.mapper.OrderMapper">

    <insert id="insertOrder" parameterType="map">
        insert into STARCLOUDPORTAL.SCE_ORDER_INFO(ORDER_ID,PAYING_TYPE,ORDER_CREATE_TIME,BUYING_USER_ID,
        PRODUCT_NAME,PRODUCT_ID,PRICE_CALCULATION_METHOD,ORIGIN_PRICE,DISCOUNT_MODE,DISCOUNT_PRICE,ACCOUNT_PAYABLE,
        ACTUAL_PAYMENT,PAYMENT_VOUCHER,ORDER_STATUS,IS_DELETE,COUPON_CODE,PRODUCT_TYPE_CODE,ORDER_DEADLINE_TIME)
        values (#{ORDER_ID,jdbcType=NUMERIC},#{PAYING_TYPE,jdbcType=NUMERIC},#{ORDER_CREATE_TIME,jdbcType=VARCHAR},
        #{BUYING_USER_ID,jdbcType=VARCHAR},#{PRODUCT_NAME,jdbcType=VARCHAR},#{PRODUCT_ID,jdbcType=VARCHAR},
        #{PRICE_CALCULATION_METHOD,jdbcType=NUMERIC},#{ORIGIN_PRICE,jdbcType=NUMERIC},#{DISCOUNT_MODE,jdbcType=VARCHAR},
        #{DISCOUNT_PRICE,jdbcType=NUMERIC},#{ACCOUNT_PAYABLE,jdbcType=NUMERIC},#{ACTUAL_PAYMENT,jdbcType=NUMERIC},
        #{PAYMENT_VOUCHER,jdbcType=NUMERIC},#{ORDER_STATUS,jdbcType=NUMERIC},#{IS_DELETE,jdbcType=NUMERIC},
        #{COUPON_CODE,jdbcType=VARCHAR},#{PRODUCT_TYPE_CODE,jdbcType=NUMERIC},#{ORDER_DEADLINE_TIME,jdbcType=VARCHAR})
    </insert>

    <insert id="insertOrderHistroy">
        INSERT INTO STARCLOUDPORTAL.SCE_ORDER_HISTORY(ID,ORDER_ID,STATUS_UPDATE_TIME,ORDER_STATUS)
        VALUES (#{ID,jdbcType=NUMERIC},#{ORDER_ID,jdbcType=NUMERIC},#{STATUS_UPDATE_TIME,jdbcType=VARCHAR},#{ORDER_STATUS,jdbcType=NUMERIC})
    </insert>

    <select id="queryOrderByOrderID" resultType="map">
        SELECT ORDERINFO.ORDER_ID,ORDERINFO.ORDER_STATUS,ORDERINFO.PAYING_TYPE,
       ORDERINFO.ORIGIN_PRICE,ORDERINFO.DISCOUNT_PRICE,ORDERINFO.ACTUAL_PAYMENT,
        TO_CHAR(ORDERHISTORY.STATUS_UPDATE_TIME,'yyyy-MM-dd HH24:mi:ss') AS PAYMENT_TIME,ORDERINFO.COUPON_CODE,



       USERINFO.USER_ID,USERROLE.ROLE_NAME,USERINFO.USER_NAME,USERINFO.PHONE_NUMBER,




      APPINFO.APP_ID,APPINFO.APP_NAME,APPINFO.APP_ICON,APPINFO.APP_NOTES,MARKETPRICEMODE.MODE_NAME,MARKETPRICEMODE.MODE_DESC,MARKETPRICEMODE.MODE_PRICE,


      ORDERINVOICEINFO.INVOICE_TYPE,ORDERINVOICEINFO.INVOICE_CONTENT,ORDERINVOICEINFO.INVOICE_TITLE,ORDERINVOICEINFO.RECIPIENTS,
      ORDERINVOICEINFO.INVOICE_STATUS

      FROM STARCLOUDPORTAL.SCE_ORDER_INFO ORDERINFO
      LEFT JOIN STARCLOUDPORTAL.SCE_ORDER_HISTORY ORDERHISTORY ON ORDERHISTORY.ORDER_ID = ORDERINFO.ORDER_ID AND ORDERHISTORY.ORDER_STATUS = 1


      LEFT JOIN STARCLOUDMARKET.SCE_MARKET_PRICE_MODE MARKETPRICEMODE ON ORDERINFO.PRICE_CALCULATION_METHOD = MARKETPRICEMODE.ID
      LEFT JOIN STARCLOUDMARKET.SCE_MARKET_APP_INFO APPINFO ON MARKETPRICEMODE.APP_ID = APPINFO.APP_ID


      LEFT JOIN STARCLOUDPORTAL.SCE_COMMON_USER USERINFO ON ORDERINFO.BUYING_USER_ID = USERINFO.USER_ID
      LEFT JOIN STARCLOUDPORTAL.SCE_COMMON_USER_ROLE USERROLE ON USERROLE.ROLE_ID = USERINFO.USER_TYPE

      LEFT JOIN STARCLOUDPORTAL.SCE_ORDER_INVOICE_REL ORDERINVOICEREL ON ORDERINFO.ORDER_ID = ORDERINVOICEREL.ORDER_ID
      LEFT JOIN STARCLOUDPORTAL.SCE_ORDER_INVOICE_INFO ORDERINVOICEINFO ON ORDERINVOICEINFO.ID = ORDERINVOICEREL.ORDER_INVOICE_ID



      WHERE ORDERINFO.ORDER_ID = #{ORDER_ID}
    </select>

    <update id="updateOrderByOrderID" parameterType="map">
        update STARCLOUDPORTAL.SCE_ORDER_INFO set ORDER_ID = #{ORDER_ID}
        <if test='PAYING_TYPE != null and PAYING_TYPE != ""'>
            ,PAYING_TYPE = #{PAYING_TYPE}
        </if>

        <if test='ORDER_CREATE_TIME != null and ORDER_CREATE_TIME != ""'>
            ,ORDER_CREATE_TIME = #{ORDER_CREATE_TIME}
        </if>

        <if test='PRODUCT_NAME != null and PRODUCT_NAME != ""'>
            ,PRODUCT_NAME = #{PRODUCT_NAME}
        </if>

        <if test='PRODUCT_ID != null and PRODUCT_ID != ""'>
            ,PRODUCT_ID = #{PRODUCT_ID}
        </if>

        <if test='PRICE_CALCULATION_METHOD != null and PRICE_CALCULATION_METHOD != ""'>
            ,PRICE_CALCULATION_METHOD = #{PRICE_CALCULATION_METHOD}
        </if>

        <if test='ORIGIN_PRICE != null and ORIGIN_PRICE != ""'>
            ,ORIGIN_PRICE = #{ORIGIN_PRICE}
        </if>

        <if test='DISCOUNT_MODE != null and DISCOUNT_MODE != ""'>
            ,DISCOUNT_MODE = #{DISCOUNT_MODE}
        </if>

        <if test='DISCOUNT_PRICE != null and DISCOUNT_PRICE != ""'>
            ,DISCOUNT_PRICE = #{DISCOUNT_PRICE}
        </if>

        <if test='ACCOUNT_PAYABLE != null and ACCOUNT_PAYABLE != ""'>
            ,ACCOUNT_PAYABLE = #{ACCOUNT_PAYABLE}
        </if>

        <if test='ACTUAL_PAYMENT != null and ACTUAL_PAYMENT != ""'>
            ,ACTUAL_PAYMENT = #{ACTUAL_PAYMENT}
        </if>

        <if test='PAYMENT_VOUCHER != null and PAYMENT_VOUCHER != ""'>
            ,PAYMENT_VOUCHER = #{PAYMENT_VOUCHER}
        </if>

        <if test='ORDER_STATUS != null and ORDER_STATUS != ""'>
            ,ORDER_STATUS = #{ORDER_STATUS}
        </if>

        <if test='IS_DELETE != null and IS_DELETE != ""'>
            ,IS_DELETE = #{IS_DELETE}
        </if>

        <if test='COUPON_CODE != null and COUPON_CODE != ""'>
            ,COUPON_CODE = #{COUPON_CODE}
        </if>

        <if test='PRODUCT_TYPE_CODE != null and PRODUCT_TYPE_CODE != ""'>
            ,PRODUCT_TYPE_CODE = #{PRODUCT_TYPE_CODE}
        </if>

        <if test='ORDER_DEADLINE_TIME != null and ORDER_DEADLINE_TIME != ""'>
            ,ORDER_DEADLINE_TIME = #{ORDER_DEADLINE_TIME}
        </if>

        <if test='BUYING_USER_ID != null and BUYING_USER_ID != ""'>
            ,BUYING_USER_ID = #{BUYING_USER_ID}
        </if>
        where ORDER_ID = #{ORDER_ID}
    </update>

    <insert id="insertOrderVoucher" parameterType="map">
        INSERT INTO STARCLOUDPORTAL.SCE_ORDER_VOUCHER (ID,ORDER_ID,PAYING_VOUCHER,AUDITING_STATUS,UPLOAD_TIME,UPLOAD_USER_ID,IS_DELETE)
        VALUES (#{ID,jdbcType=NUMERIC},#{ORDER_ID,jdbcType=NUMERIC},#{PAYING_VOUCHER,jdbcType=NUMERIC},0,
                #{UPLOAD_TIME,jdbcType=VARCHAR},#{UPLOAD_USER_ID,jdbcType=VARCHAR},1)
    </insert>

    <update id="updateOrderVoucher" parameterType="map">
        UPDATE STARCLOUDPORTAL.SCE_ORDER_VOUCHER SET AUDITING_STATUS = #{AUDITING_STATUS},
        AUDITING_USER_ID=#{AUDITING_USER_ID}, REVIEW_TIME = #{AUDITING_USER_ID}

        <if test='REJECT_REASON != null and REJECT_REASON != ""'>
            ,REJECT_REASON = #{REJECT_REASON}
        </if>

        WHERE ID=#{ID} AND ORDER_ID = #{ORDER_ID}
    </update>


    <update id="deleteOrderVoucher">
        UPDATE STARCLOUDPORTAL.SCE_ORDER_VOUCHER SET IS_DELETE = 0
        WHERE  ORDER_ID = #{ORDER_ID}
    </update>

</mapper>