<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.bonc.sce.mapper.ParentMapper">

    <select id="getStudentList" resultType="Map">
        SELECT GRADE,CLASS_NUMBER,s.USER_ID,u.USER_NAME ,r.IS_MAIN,u.HEAD_PORTRAIT,i.INSTITUTION_NAME
        FROM STARCLOUDPORTAL.SCE_INFO_STUDENT s
        LEFT JOIN STARCLOUDPORTAL.SCE_COMMON_USER u ON s.USER_ID=u.USER_ID AND u.IS_DELETE=1
        LEFT JOIN STARCLOUDPORTAL.SCE_INFO_STUDENT_PARENT_REL r ON s.USER_ID=r.STUDENT_USER_ID
        LEFT JOIN STARCLOUDPORTAL.SCE_ENTITY_INSTITUTION i ON u.ORGANIZATION_ID=i.ID AND i.IS_DELETE=1
        WHERE s.USER_ID in
        (SELECT STUDENT_USER_ID FROM STARCLOUDPORTAL.SCE_INFO_STUDENT_PARENT_REL r WHERE PARENT_USER_ID=#{id})
        AND s.IS_DELETE=1
    </select>

    <insert id="bindStudent">
        INSERT INTO STARCLOUDPORTAL.SCE_BINDING_APPLY(ID,APPLY_USER_ID,RELATIONSHIP,TARGET_USER_ID,
              APPLY_TYPE,IS_DELETE,BINDING_USER_ID)
        VALUES (#{id},#{applyUserId},#{relationship},#{targetUserId},#{applyType},1,#{bindUserId})
    </insert>

    <delete id="unbind">
        DELETE FROM STARCLOUDPORTAL.SCE_INFO_STUDENT_PARENT_REL
        WHERE PARENT_USER_ID=#{parentId}
        AND STUDENT_USER_ID=#{studentId}
    </delete>

    <select id="getParentList" resultType="Map">
        SELECT r.PARENT_USER_ID,r.IS_MAIN,r.RELATIONSHIP,u.USER_NAME,u.HEAD_PORTRAIT
        FROM STARCLOUDPORTAL.SCE_INFO_STUDENT_PARENT_REL r
        LEFT JOIN STARCLOUDPORTAL.SCE_COMMON_USER u ON r.PARENT_USER_ID=u.USER_ID AND u.IS_DELETE=1
        WHERE r.STUDENT_USER_ID=#{id}
    </select>

    <select id="getApplyList" resultType="Map">
        SELECT GRADE,CLASS_NUMBER,APPLY_USER_ID,APPLY_TYPE,BINDING_USER_ID,RELATIONSHIP,u.USER_NAME ,u.HEAD_PORTRAIT,i.INSTITUTION_NAME
        FROM STARCLOUDPORTAL.SCE_BINDING_APPLY r
        LEFT JOIN STARCLOUDPORTAL.SCE_INFO_STUDENT s ON r.BINDING_USER_ID=s.USER_ID
        LEFT JOIN STARCLOUDPORTAL.SCE_COMMON_USER u ON s.USER_ID=u.USER_ID AND u.IS_DELETE=1
        LEFT JOIN STARCLOUDPORTAL.SCE_ENTITY_INSTITUTION i ON u.ORGANIZATION_ID=i.ID AND i.IS_DELETE=1
        WHERE TARGET_USER_ID=#{id}
        AND r.IS_DELETE=1
    </select>
</mapper>
