<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.bonc.sce.mapper.ParentMapper">

    <select id="getStudentList" resultType="Map">
        SELECT GRADE,CLASS_NUMBER,s.USER_ID,u.USER_NAME ,r.IS_MAIN,u.HEAD_PORTRAIT,i.INSTITUTION_NAME
        FROM STARCLOUDPORTAL.SCE_INFO_STUDENT s
        LEFT JOIN STARCLOUDPORTAL.SCE_COMMON_USER u ON s.USER_ID=u.USER_ID AND u.IS_DELETE=1
        LEFT JOIN STARCLOUDPORTAL.SCE_INFO_STUDENT_PARENT_REL r ON s.USER_ID=r.STUDENT_USER_ID
        LEFT JOIN STARCLOUDPORTAL.SCE_ENTITY_INSTITUTION i ON u.ORGANIZATION_ID=i.ID AND i.IS_DELETE=1
        WHERE s.USER_ID in
        (SELECT STUDENT_USER_ID FROM STARCLOUDPORTAL.SCE_INFO_STUDENT_PARENT_REL r WHERE PARENT_USER_ID=#{id})
        AND s.IS_DELETE=1
        and r.PARENT_USER_ID = #{id}
    </select>

    <insert id="bindStudent">
        INSERT INTO STARCLOUDPORTAL.SCE_BINDING_APPLY(ID,APPLY_USER_ID,RELATIONSHIP,TARGET_USER_ID,
              APPLY_TYPE,APPLY_RESULT,BINDING_USER_ID)
        VALUES (#{id},#{applyUserId},#{relationship},#{targetUserId},#{applyType},0,#{bindUserId})
    </insert>

    <delete id="unbind">
        DELETE FROM STARCLOUDPORTAL.SCE_INFO_STUDENT_PARENT_REL
        WHERE PARENT_USER_ID=#{parentId}
        AND STUDENT_USER_ID=#{studentId}
    </delete>

    <select id="selectIsMain" resultType="int">
        select IS_MAIN from STARCLOUDPORTAL.SCE_INFO_STUDENT_PARENT_REL
        where PARENT_USER_ID = #{userId}
        and STUDENT_USER_ID = #{id}
    </select>

    <select id="getParentList" resultType="Map">
        SELECT r.PARENT_USER_ID,r.IS_MAIN,r.RELATIONSHIP,u.USER_NAME,u.HEAD_PORTRAIT
        FROM STARCLOUDPORTAL.SCE_INFO_STUDENT_PARENT_REL r
        LEFT JOIN STARCLOUDPORTAL.SCE_COMMON_USER u ON r.PARENT_USER_ID=u.USER_ID AND u.IS_DELETE=1
        WHERE r.STUDENT_USER_ID = #{id}
    </select>

    <select id="selectApplyResult" resultType="int">
        SELECT APPLY_RESULT FROM STARCLOUDPORTAL.SCE_BINDING_APPLY
        WHERE BINDING_USER_ID = #{studentId}
        <if test="isMain == 1">
            AND APPLY_USER_ID = #{currentUserId}
            AND TARGET_USER_ID = #{parentId}
        </if>
        <if test="isMain == 0 and currentUserIdIsMain ==1">
            AND TARGET_USER_ID = #{currentUserId}
            AND APPLY_USER_ID = #{parentId}
        </if>
        <if test="isMain == 0 and currentUserIdIsMain ==0">
            AND 1 != 1
        </if>
        AND IS_DELETE = 1
        AND APPLY_TYPE =0
        AND APPLY_RESULT != 1
    </select>

    <select id="getApplyList" resultType="Map">
        SELECT GRADE,CLASS_NUMBER,APPLY_USER_ID,APPLY_TYPE,BINDING_USER_ID,RELATIONSHIP,
        u.USER_NAME ,u.HEAD_PORTRAIT,i.INSTITUTION_NAME,r.APPLY_RESULT,r.REJECT_REASON
        FROM STARCLOUDPORTAL.SCE_BINDING_APPLY r
        LEFT JOIN STARCLOUDPORTAL.SCE_INFO_STUDENT s ON r.BINDING_USER_ID=s.USER_ID
        LEFT JOIN STARCLOUDPORTAL.SCE_COMMON_USER u ON s.USER_ID=u.USER_ID AND u.IS_DELETE=1
        LEFT JOIN STARCLOUDPORTAL.SCE_ENTITY_INSTITUTION i ON u.ORGANIZATION_ID=i.ID AND i.IS_DELETE=1
        WHERE APPLY_USER_ID=#{id}
        AND r.IS_DELETE=1
        AND r.APPLY_RESULT != 1
        and r.APPLY_TYPE = 1
    </select>

    <insert id="addApplyMain">
        INSERT into STARCLOUDPORTAL.SCE_BINDING_APPLY(id,APPLY_USER_ID,TARGET_USER_ID,APPLY_TYPE,APPLY_RESULT,BINDING_USER_ID)
        VALUES(#{id}, #{userId}, #{targetUserId}, 0, 0, #{studentUserId})
    </insert>

    <update id="updateApplyMain">
        update STARCLOUDPORTAL.SCE_BINDING_APPLY set APPLY_RESULT = 0
        where  APPLY_USER_ID = #{userId} and TARGET_USER_ID = #{targetUserId} and BINDING_USER_ID = #{studentUserId}
        and APPLY_TYPE = 0
    </update>

    <select id="selectApply" resultType="BigDecimal">
        select  id from STARCLOUDPORTAL.SCE_BINDING_APPLY
        where  APPLY_USER_ID = #{userId} and TARGET_USER_ID = #{targetUserId} and BINDING_USER_ID = #{studentUserId}
        and APPLY_TYPE = 0
    </select>

    <select id="selectApplyMain" resultType="String">
        select APPLY_RESULT from  STARCLOUDPORTAL.SCE_BINDING_APPLY
        where APPLY_USER_ID = #{userId} and BINDING_USER_ID = #{studentUserId}
        and APPLY_RESULT = 0
        and APPLY_TYPE = 0
    </select>

    <update id="auditApplyMain" >
        UPDATE STARCLOUDPORTAL.SCE_BINDING_APPLY SET APPLY_RESULT = #{audit}
        WHERE APPLY_USER_ID = #{applyUserId}
        AND TARGET_USER_ID = #{userId}
        AND BINDING_USER_ID = #{studentUserId}
        and APPLY_TYPE = 0
    </update>

    <delete id="delStudentParentRel">
        update STARCLOUDPORTAL.SCE_INFO_STUDENT_PARENT_REL
        set IS_MAIN = 0
        WHERE PARENT_USER_ID = #{userId}
        and STUDENT_USER_ID = #{studentUserId}
    </delete>

    <update id="updateStudentParentRel">
        update STARCLOUDPORTAL.SCE_INFO_STUDENT_PARENT_REL
        set IS_MAIN = 1
        WHERE PARENT_USER_ID = #{applyUserId}
        AND STUDENT_USER_ID = #{studentUserId}
    </update>

    <select id="getMainPhone" resultType="String">
        SELECT PHONE_NUMBER FROM STARCLOUDPORTAL.SCE_COMMON_USER U WHERE USER_ID IN (
        SELECT SP.PARENT_USER_ID FROM STARCLOUDPORTAL.SCE_COMMON_USER U
        LEFT JOIN STARCLOUDPORTAL.SCE_INFO_STUDENT_PARENT_REL SP
        ON U.USER_ID = SP.STUDENT_USER_ID AND SP.IS_MAIN = 1
        WHERE U.LOGIN_NAME = #{studentLoginName}
        )
    </select>

    <select id="selectUserTypeByUserId" resultType="BigDecimal">
        SELECT USER_TYPE
        FROM STARCLOUDPORTAL.SCE_COMMON_USER
         WHERE USER_ID = #{userId}
    </select>

    <insert id="addStudentParentRel">
        INSERT into STARCLOUDPORTAL.SCE_INFO_STUDENT_PARENT_REL(id,PARENT_USER_ID,STUDENT_USER_ID,IS_MAIN,RELATIONSHIP)
        VALUES(#{id}, #{parentUserId}, #{studentUserId},#{isMain},#{relationship})
    </insert>

    <delete id="delAudit">
        delete from STARCLOUDPORTAL.SCE_BINDING_APPLY
        where APPLY_USER_ID = #{applyUserId}
		and BINDING_USER_ID = #{targetUserId}
    </delete>
</mapper>
