<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.bonc.sce.mapper.UserMapper">

    <insert id="saveUser" parameterType="cn.com.bonc.sce.bean.UserBean">
        INSERT INTO STARCLOUDPORTAL.SCE_COMMON_USER
            (USER_ID,SECRET,LOGIN_NAME,USER_TYPE,IS_DELETE,ORGANIZATION_ID)
        VALUES
            (#{userId},#{secret},#{loginName},#{userType},#{isDelete},#{organizationId})
    </insert>

    <insert id="saveAccount" parameterType="cn.com.bonc.sce.bean.AccountBean">
        INSERT INTO STARCLOUDPORTAL.SCE_COMMON_USER_PASSWORD
            (ID,PASSWORD,IS_DELETE,USER_ID)
        VALUES
            (#{id},#{password},#{isDelete},#{userId})
    </insert>

    <update id="delUser">
        UPDATE STARCLOUDPORTAL.SCE_COMMON_USER
        SET IS_DELETE=0
        WHERE USER_ID=#{id}
    </update>

    <update id="resetPwd">
        UPDATE STARCLOUDPORTAL.SCE_COMMON_USER_PASSWORD
        SET PASSWORD=#{pwd}
        WHERE USER_ID=#{id}
    </update>

    <update id="updateLoginPermission">
        UPDATE
        STARCLOUDPORTAL.SCE_COMMON_USER
        SET LOGIN_PERMISSION_STATUS = #{newStatus}
        WHERE
        USER_ID = #{id}
    </update>

    <select id="getSchools4edu" resultType="Map">
        SELECT *
        FROM STARCLOUDPORTAL.SCE_ENTITY_SCHOOL
        WHERE INSTITUTION_ID=#{id}
        AND IS_DELETE=1
    </select>

    <update id="delSchools4edu">
        UPDATE STARCLOUDPORTAL.SCE_ENTITY_SCHOOL
        SET IS_DELETE=0
        WHERE ID=#{id}
        AND INSTITUTION_ID=#{institutionId}
    </update>

    <select id="getInstitutions" resultType="Map">
        SELECT u.USER_ID,i.INSTITUTION_NAME,u.LOGIN_NAME,i.ID,u.LOGIN_PERMISSION_STATUS
        FROM STARCLOUDPORTAL.SCE_COMMON_USER u
        INNER JOIN STARCLOUDPORTAL.SCE_ENTITY_INSTITUTION i ON u.ORGANIZATION_ID=i.ID
        WHERE u.IS_DELETE=1
        AND i.IS_DELETE=1
        <if test="institutionName != null and institutionName!= ''" >
            AND i.INSTITUTION_NAME LIKE CONCAT(CONCAT('%',#{institutionName}),'%')
        </if>
        <if test="id != null and id!=''">
            AND i.ID=#{id}
        </if>
        <if test="loginPermissionStatus != null and loginPermissionStatus!=''" >
            AND u.LOGIN_PERMISSION_STATUS=#{loginPermissionStatus}
        </if>
        AND u.USER_TYPE=7
    </select>
</mapper>