<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.bonc.sce.mapper.WorkbenchMapper">

    <update id="deleteAddress" parameterType="Integer">
        UPDATE
        STARCLOUDPORTAL.SCE_COMMON_USER_POST_INFO set IS_DELETE = 0 where ID = #{ID}
    </update>

    <select id="getAddress" parameterType="String" resultType="Map">
        select * from STARCLOUDPORTAL.SCE_COMMON_USER_POST_INFO where USER_ID = #{USER_ID} and IS_DELETE = 1
    </select>

    <select id="defaultTotal" parameterType="String" resultType="Integer">
        select count(1) as total from STARCLOUDPORTAL.SCE_COMMON_USER_POST_INFO where USER_ID = #{USER_ID} and IS_DEFAULT = '1'
    </select>

    <update id="setDefault" parameterType="String">
        update STARCLOUDPORTAL.SCE_COMMON_USER_POST_INFO set IS_DEFAULT = 0 where USER_ID = #{USER_ID}
    </update>

    <update id="updateAddress" parameterType="String">
        update STARCLOUDPORTAL.SCE_COMMON_USER_POST_INFO
        <set>
            <if test="ADDRESSEE_NAME != null and ADDRESSEE_NAME != ''">ADDRESSEE_NAME = #{ADDRESSEE_NAME} ,</if>
            <if test="PROVINCE != null and PROVINCE != ''">PROVINCE = #{PROVINCE} ,</if>
            <if test="CITY != null and CITY != ''">CITY = #{CITY} ,</if>
            <if test="AREA != null and AREA != ''">AREA = #{AREA} ,</if>
            <if test="TELEPHONE_NUMBER != null and TELEPHONE_NUMBER != ''">TELEPHONE_NUMBER = #{TELEPHONE_NUMBER} ,</if>
            <if test="POST_NUMBER != null and POST_NUMBER != ''">POST_NUMBER = #{POST_NUMBER} ,</if>
            <if test="POST_ADDRESS != null and POST_ADDRESS != ''">POST_ADDRESS = #{POST_ADDRESS} ,</if>
            <if test="IS_DEFAULT != null and IS_DEFAULT != ''">IS_DEFAULT = #{IS_DEFAULT}</if>
        </set>
        where ID = #{ID}
    </update>

    <insert id="addAddress" parameterType="Map">
        <selectKey keyProperty="ID" resultType="java.lang.Integer" order="BEFORE" statementType="PREPARED">
            SELECT STARCLOUDMARKET.SEQ_SCE_COMMON_USER_POST_INFO.NEXTVAL FROM DUAL
        </selectKey>
        insert into
        STARCLOUDPORTAL.SCE_COMMON_USER_POST_INFO(ID,USER_ID,ADDRESSEE_NAME,PROVINCE,CITY,AREA,TELEPHONE_NUMBER,POST_NUMBER,POST_ADDRESS,IS_DEFAULT,IS_DELETE)
        values
        (#{ID},#{USER_ID},#{ADDRESSEE_NAME},#{PROVINCE},#{CITY},#{AREA},#{TELEPHONE_NUMBER},#{POST_NUMBER},#{POST_ADDRESS},#{IS_DEFAULT},1)
    </insert>

    <select id="getStudentBinding" parameterType="String" resultType="Map">
        SELECT
            sisp.ID,
	        scu.HEAD_PORTRAIT,
	        scu.USER_NAME,
	        ses.SCHOOL_NAME,
	        sis.CLASS_NUMBER,
	        sis.GRADE
        FROM
	        STARCLOUDPORTAL.SCE_INFO_STUDENT_PARENT_REL sisp
	        LEFT JOIN STARCLOUDPORTAL.SCE_INFO_STUDENT sis ON sisp.STUDENT_USER_ID = sis.USER_ID
	        LEFT JOIN STARCLOUDPORTAL.SCE_COMMON_USER scu ON sisp.STUDENT_USER_ID = scu.USER_ID
	        LEFT JOIN STARCLOUDPORTAL.SCE_ENTITY_SCHOOL ses ON scu.ORGANIZATION_ID = ses.ID
        WHERE
	      sisp.PARENT_USER_ID = #{USER_ID}
    </select>

    <delete id="deleteStudentBinding" parameterType="Map">
        delete from STARCLOUDPORTAL.SCE_INFO_STUDENT_PARENT_REL where ID = #{ID}
    </delete>

    <select id="queryStudentUserId" parameterType="Map" resultType="java.lang.String">
        SELECT
        scu.USER_ID
        FROM
            STARCLOUDPORTAL.SCE_COMMON_USER scu
            LEFT JOIN STARCLOUDPORTAL.SCE_COMMON_USER_PASSWORD scup ON scu.USER_ID = scup.USER_ID
        WHERE
            scu.USER_NAME = #{USER_NAME}
            AND scu.LOGIN_NAME = #{LOGIN_NAME}
            AND scu.CERTIFICATE_NUMBER = #{CERTIFICATE_NUMBER}
            AND scup.PASSWORD = #{PASSWORD}
    </select>

    <select id="queryIsBinding" resultType="java.lang.Integer">
        select count(1) from STARCLOUDPORTAL.SCE_INFO_STUDENT_PARENT_REL
        where PARENT_USER_ID = #{PARENT_USER_ID} and STUDENT_USER_ID = #{STUDENT_USER_ID}
    </select>

    <insert id="addStudentBinding">
        <selectKey keyProperty="ID" resultType="java.lang.Integer" order="BEFORE" statementType="PREPARED">
            SELECT STARCLOUDMARKET.SEQ_GEN_INFO_STUDENT_PARENT_REL.NEXTVAL FROM DUAL
        </selectKey>
        insert into STARCLOUDPORTAL.SCE_INFO_STUDENT_PARENT_REL(ID,PARENT_USER_ID,STUDENT_USER_ID,IS_MAIN)
        values(#{ID},#{PARENT_USER_ID},#{STUDENT_USER_ID},1)
    </insert>

    <select id="getOrganization" parameterType="String" resultType="Map">
        select USER_ID,LOGIN_NAME , USER_NAME , PHONE_NUMBER , GENDER,ISADMINISTRATORS , CERTIFICATE_NUMBER,IS_FIRST_LOGIN,CREATE_TIME from
        STARCLOUDPORTAL.SCE_COMMON_USER
        where ORGANIZATION_ID = (select ORGANIZATION_ID from STARCLOUDPORTAL.SCE_COMMON_USER where USER_ID = #{USER_ID})
        and IS_DELETE = 1
        <if test="LOGIN_NAME != null and LOGIN_NAME != 'null' and  LOGIN_NAME !='' ">
            and LOGIN_NAME like CONCAT('%',CONCAT(#{LOGIN_NAME},'%'))
        </if>
        <if test="USER_NAME != null and USER_NAME != 'null' and  USER_NAME !='' ">
            and USER_NAME like CONCAT('%',CONCAT(#{USER_NAME},'%'))
        </if>
        <if test="GENDER != null and GENDER != 'null' and  GENDER !='' ">
            and GENDER = #{GENDER}
        </if>
        order by CREATE_TIME desc
    </select>

    <select id="queryUserId" parameterType="Map" resultType="java.lang.String">
        SELECT LOGIN_NAME from STARCLOUDPORTAL.SCE_COMMON_USER where LOGIN_NAME = #{LOGIN_NAME}
    </select>

    <select id="queryOrganizationId" parameterType="Map" resultType="java.lang.Long">
        SELECT ORGANIZATION_ID from STARCLOUDPORTAL.SCE_COMMON_USER where USER_ID = #{userId}
    </select>

    <select id="queryUserType" parameterType="Map" resultType="java.lang.Integer">
        select USER_TYPE from STARCLOUDPORTAL.SCE_COMMON_USER where USER_ID = #{userId}
    </select>

    <insert id="addAgentInfo" parameterType="Map" >
        insert into STARCLOUDPORTAL.SCE_INFO_AGENT(USER_ID,AGENT_ID,TELPHONE,PROVINCE,CITY,AREA)
        values (#{userId},#{organizationId},#{PHONE_NUMBER},#{PROVINCE},#{CITY},#{AREA})
    </insert>

    <insert id="addOrganization" parameterType="cn.com.bonc.sce.bean.UserBean">
        INSERT INTO STARCLOUDPORTAL.SCE_COMMON_USER
            (USER_ID,SECRET,LOGIN_NAME,USER_TYPE,PHONE_NUMBER,USER_NAME,CERTIFICATE_NUMBER,GENDER,ORGANIZATION_ID)
        VALUES
            (#{userId,jdbcType=BIGINT},#{secret,jdbcType=VARCHAR},#{loginName,jdbcType=VARCHAR},
            #{userType,jdbcType=INTEGER},#{phoneNumber,jdbcType=VARCHAR},#{userName,jdbcType=VARCHAR},
            #{certificateNumber,jdbcType=VARCHAR}, #{gender,jdbcType=VARCHAR},#{organizationId,jdbcType=BIGINT})
    </insert>

    <update id="updateOrganization" parameterType="Map">
        update STARCLOUDPORTAL.SCE_COMMON_USER set
        USER_NAME = #{userName} ,
        GENDER = #{gender}
        where USER_ID = #{userId}
    </update>

    <update id="updateAgentAddress" parameterType="Map">
        update STARCLOUDPORTAL.SCE_INFO_AGENT set PROVINCE = #{PROVINCE} ,CITY = #{CITY}, AREA = #{AREA}
        where USER_ID = #{USER_ID}
    </update>

    <insert id="saveAccount" parameterType="cn.com.bonc.sce.bean.AccountBean">
        INSERT INTO STARCLOUDPORTAL.SCE_COMMON_USER_PASSWORD
        (ID,PASSWORD,IS_DELETE,USER_ID)
        VALUES
        (#{id},#{password},#{isDelete},#{userId})
    </insert>

    <update id="deleteOrganization" parameterType="String">
        update STARCLOUDPORTAL.SCE_COMMON_USER set IS_DELETE = 0 where USER_ID = #{USER_ID}
    </update>
</mapper>